* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  color: $texto;
  background-color: $fundo;
}

::selection {
  background-color: $complementar;
  color: $principal;
}
::-moz-selection { 
  background-color: $complementar;
  color: $principal;
}