@font-face {
    font-family: 'Louize';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/louize-regular.woff2") format("woff2"), url("fonts/louize-regular.woff") format("woff");
}

@font-face {
    font-family: 'Louize';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("fonts/louize-regular-italic.woff2") format("woff2"), url("fonts/louize-regular-italic.woff") format("woff");
}

@font-face {
    font-family: 'Louize';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/louize-bold.woff2") format("woff2"), url("fonts/louize-bold.woff") format("woff");
}

@font-face {
    font-family: 'Louize';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("fonts/louize-bold-italic.woff2") format("woff2"), url("fonts/louize-bold-italic.woff") format("woff");
}

@font-face {
    font-family: 'GT America';
    font-stretch: extra-expanded;
    src: local('GT America Expanded Black Italic'), local('GTAmerica-ExpandedBlackItalic'),
        url('fonts/GTAmerica-ExpandedBlackItalic.woff2') format('woff2'),
        url('fonts/GTAmerica-ExpandedBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    font-stretch: extra-expanded; // extra-larga
    src: local('GT America Expanded Black'), local('GTAmerica-ExpandedBlack'),
        url('fonts/GTAmerica-ExpandedBlack.woff2') format('woff2'),
        url('fonts/GTAmerica-ExpandedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    font-stretch: extra-expanded; // extra-larga
    src: local('GT America Expanded Bold Italic'), local('GTAmerica-ExpandedBoldItalic'),
        url('fonts/GTAmerica-ExpandedBoldItalic.woff2') format('woff2'),
        url('fonts/GTAmerica-ExpandedBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    font-stretch: expanded; // larga
    src: local('GT America Extended Bold Italic'), local('GTAmerica-ExtendedBoldItalic'),
        url('fonts/GTAmerica-ExtendedBoldItalic.woff2') format('woff2'),
        url('fonts/GTAmerica-ExtendedBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    font-stretch: expanded; // larga
    src: local('GT America Extended Bold'), local('GTAmerica-ExtendedBold'),
        url('fonts/GTAmerica-ExtendedBold.woff2') format('woff2'),
        url('fonts/GTAmerica-ExtendedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    font-stretch: expanded; // larga
    src: local('GT America Extended Medium Italic'), local('GTAmerica-ExtendedMediumItalic'),
        url('fonts/GTAmerica-ExtendedMediumItalic.woff2') format('woff2'),
        url('fonts/GTAmerica-ExtendedMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    font-stretch: extra-expanded; // extra-larga
    src: local('GT America Expanded Bold'), local('GTAmerica-ExpandedBold'),
        url('fonts/GTAmerica-ExpandedBold.woff2') format('woff2'),
        url('fonts/GTAmerica-ExpandedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: local('GT America Bold Italic'), local('GTAmerica-BoldItalic'),
        url('fonts/GTAmerica-BoldItalic.woff2') format('woff2'),
        url('fonts/GTAmerica-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: local('GT America Regular Italic'), local('GTAmerica-RegularItalic'),
        url('fonts/GTAmerica-RegularItalic.woff2') format('woff2'),
        url('fonts/GTAmerica-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: local('GT America Bold'), local('GTAmerica-Bold'),
        url('fonts/GTAmerica-Bold.woff2') format('woff2'),
        url('fonts/GTAmerica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    font-stretch: expanded; // larga
    src: local('GT America Extended Medium'), local('GTAmerica-ExtendedMedium'),
        url('fonts/GTAmerica-ExtendedMedium.woff2') format('woff2'),
        url('fonts/GTAmerica-ExtendedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: local('GT America Regular'), local('GTAmerica-Regular'),
        url('fonts/GTAmerica-Regular.woff2') format('woff2'),
        url('fonts/GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono';
    src: local('GT America Mono Regular Italic'), local('GTAmericaMono-RegularItalic'),
        url('fonts/GTAmericaMono-RegularItalic.woff2') format('woff2'),
        url('fonts/GTAmericaMono-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono';
    src: local('GT America Mono Bold'), local('GTAmericaMono-Bold'),
        url('fonts/GTAmericaMono-Bold.woff2') format('woff2'),
        url('fonts/GTAmericaMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono';
    src: local('GT America Mono Bold Italic'), local('GTAmericaMono-BoldItalic'),
        url('fonts/GTAmericaMono-BoldItalic.woff2') format('woff2'),
        url('fonts/GTAmericaMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono';
    src: local('GT America Mono Regular'), local('GTAmericaMono-Regular'),
        url('fonts/GTAmericaMono-Regular.woff2') format('woff2'),
        url('fonts/GTAmericaMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
