svg, img {
    display: block;
}

svg {
    width: 100%;
    height: auto;
}

img {
    &:not[width] {
        height: auto;
        width: 100%;
    }
    .card &, .tns-item & {
        height: auto;
        width: 100%;
    }
}

#cadeado {
    display: inline-block;
    width: 100%;
    max-width: 10px;
    path {
        fill: $vermelho;
    }
}

figure {
    margin: 0;

    &.wp-block-embed {
        .wp-block-embed__wrapper {
            position: relative;
            height: 0;
            overflow: hidden;
        }
        &.wp-embed-aspect-16-9 {
            .wp-block-embed__wrapper {
                padding-bottom: 56.25%;
            }
        }
        &.wp-embed-aspect-4-3 {
            .wp-block-embed__wrapper {
                padding-bottom: 75%;
            }
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }

    figcaption {
        color: $cinza;
    }
}

.wp-block-image,
.wp-block-gallery,
.wp-block-gallery .blocks-gallery-item {
    img {
        height: auto;
        &:not([width]):not([height]) {
            width: 100%;
            max-width: 100%;
        }
    }
}