// louize
%titulo-xgg-louize {
  font-weight: 500;
  font-family: 'Louize', serif;

  $map: (
      320px: 40px,
      1024px: 86px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(116 / 86);
}

%titulo-gg-louize {
  font-weight: 500;
  font-family: 'Louize', serif;

  $map: (
      320px: 32px,
      1024px: 54px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(92 / 68);
}

%titulo-g-louize {
  font-weight: 500;
  font-family: 'Louize', serif;

  $map: (
      320px: 24px,
      1024px: 44px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(52 / 50);
}

%titulo-m-louize {
  font-weight: 500;
  font-family: 'Louize', serif;

  $map: (
      320px: 16px,
      1024px: 32px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(42 / 32);
}

%titulo-p-louize {
  font-weight: 500;
  font-family: 'Louize', serif;

  $map: (
      320px: 12px,
      1024px: 20px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(28 / 20);
}

%texto-m-louize {
  font-family: 'Louize', serif;
  $map: (
    320px: 14px,
    1024px: 24px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(32 / 24);
  
}

// gt
%texto-g-gt {
  font-family: 'GT America', sans-serif;
  $map: (
    320px: 14px,
    1024px: 24px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(32 / 24);
  font-stretch: normal;
}

%texto-m-gt {
  font-family: 'GT America', sans-serif;
  $map: (
    320px: 10px,
    1024px: 14px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(22 / 14);
  font-stretch: normal;
}

%texto-p-gt {
  font-family: 'GT America', sans-serif;
  $map: (
    320px: 10px,
    1024px: 12px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(22 / 14);
  font-stretch: normal;
}

// gt extended [wide]
%titulo-gg-ext {
  font-family: 'GT America', sans-serif;
  font-stretch: expanded;

  $map: (
      320px: 32px,
      1024px: 54px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(92 / 68);
}

%titulo-m-ext {
  font-family: 'GT America', sans-serif;
  font-stretch: expanded;

  $map: (
      320px: 16px,
      1024px: 24px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(40 / 24);
}

%texto-m-ext {
  font-family: 'GT America', sans-serif;
  font-stretch: expanded;

  $map: (320px: 12px,
      1024px: 18px);
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(24 / 18);
}

// gt expanded [wider]
%titulo-xgg-exp {
  font-family: 'GT America', sans-serif;
  font-stretch: extra-expanded;

  $map: (
      320px: 40px,
      1024px: 86px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(116 / 86);
}

%titulo-gg-exp {
  font-family: 'GT America', sans-serif;
  font-stretch: extra-expanded;

  $map: (
      320px: 24px,
      1024px: 50px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(52 / 50);
}

%titulo-g-exp {
  font-family: 'GT America', sans-serif;
  font-stretch: extra-expanded;

  $map: (
      320px: 18px,
      1024px: 40px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(42 / 40);
}

%titulo-m-exp {
  font-family: 'GT America', sans-serif;
  font-stretch: extra-expanded;

  $map: (
      320px: 16px,
      1024px: 32px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(42 / 32);
}

%titulo-p-exp {
  font-family: 'GT America', sans-serif;
  font-stretch: extra-expanded;

  $map: (
      320px: 12px,
      1024px: 24px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(32 / 24);
}

%titulo-pp-exp {
  font-family: 'GT America', sans-serif;
  font-stretch: extra-expanded;

  $map: (
      320px: 12px,
      1024px: 20px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(28 / 20);
}

%texto-m-exp {
  font-family: 'GT America', sans-serif;
  font-stretch: extra-expanded;

  $map: (
      320px: 12px,
      1024px: 18px
  );
  @include poly-fluid-sizing('font-size', $map);
  line-height: calc(24 / 18);
}

%texto-pp-exp {
  font-family: 'GT America', sans-serif;
  font-stretch: extra-expanded;
  font-size: rem(10);
  line-height: calc(16 / 10);
}

// mono
%texto-g-mono {
  font-family: 'GT America Mono', monospace;
  $map: (
      320px: 14px,
      1024px: 20px
  );
  line-height: calc(26 / 20);
  @include poly-fluid-sizing('font-size', $map);
  font-weight: 500;
}

%texto-m-mono {
  font-family: 'GT America Mono', monospace;
  $map: (
      320px: 12px,
      1024px: 18px
  );
  line-height: calc(24 / 18);
  @include poly-fluid-sizing('font-size', $map);
  font-weight: 500;
}

%texto-p-mono {
  font-family: 'GT America Mono',
    monospace;
  $map: (
      320px: 10px,
      1024px: 14px
  );
  line-height: calc(18 / 14);
  @include poly-fluid-sizing('font-size', $map);
  font-weight: 500;
}

%texto-pp-mono {
  font-family: 'GT America Mono', monospace;
  font-size: rem(12);
  line-height: calc(16 / 12);
  font-weight: 500;
}

%tag-pp-mono {
  font-family: 'GT America Mono', monospace;
  font-size: rem(10);
  line-height: calc(14 / 10);
  font-weight: 500;
}

// estilos

b, strong {
  font-weight: 700;
}
html {
  $map: (
      320px: 10px,
      1024px: 16px
  );
  @include poly-fluid-sizing('font-size', $map);
  @extend %texto-m-gt;
}

p {
    // hyphens: auto;
    word-break: break-word;
    margin: 0 0 .85em;
    &:last-child, .single-post .entry-content &, .single-criacao .entry-content & {
      margin-bottom: 0;
    }
}

.page-title, .entry-title {
  margin: 0;
  @extend %titulo-gg-exp;
  .archive & {
    text-transform: uppercase;
  }
  .hentry.post & {
    @extend %titulo-gg-ext;
    text-transform: uppercase;
    font-weight: 500;
  }
  .louize.hentry.post & {
    @extend %titulo-gg-louize;
  }
  .expanded.hentry.post & {
    @extend %titulo-gg-exp;
  }
}

.product_title {
  @extend %titulo-p-exp;
}


$tamanhos: (
    "texto-m-louize": "%texto-m-louize",
    "texto-m-exp": "%texto-m-exp",
    "texto-m-mono": "%texto-m-mono",
    "titulo-m-ext": "%titulo-m-ext",
);

@each $opcao,
$tamanho in $tamanhos {
  .has-#{$opcao}-font-size {
    &:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
      @extend #{$tamanho};
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  &[class*="louize"] {
    font-weight: 500;
    font-family: 'Louize', serif;
  }
  &[class*="-exp"] {
    font-family: 'GT America', sans-serif;
    font-stretch: extra-expanded;
  }
  &[class*="-ext"] {
    font-family: 'GT America', sans-serif;
    font-stretch: expanded;
  }
  &[class*="-mono"] {
    font-family: 'GT America Mono', monospace;
  }
}

.screen-reader-text {
  display: none;
}