.wp-block[data-align=left],
.wp-block[data-align=right] {
    height: unset !important;
    >* {
        float: unset !important;
        * {
            grid-column: 1 / -1 !important;
        }
    }
}

.wp-block[data-align=left] {
    * {
        justify-content: flex-start !important;
        text-align: left !important;
    }
}

.wp-block[data-align=right] {
    * {
        justify-content: flex-end !important;
        text-align: right !important;
    }
}

.editor-styles-wrapper {
    font-family: unset !important;
    font-size: 1.4em !important;
    line-height: 1.5 !important;
    font-weight: 300 !important;
}