/*
Theme Name: amarello

WooCommerce styles override
*/

// WooCommerce color variables
$woocommerce__color-error: #e2401c;
$woocommerce__color-success: #0f834d;
$woocommerce__color-info: #3d9cd2;

// Settings
@import '_settings/_colors.scss',
'_settings/_config.scss',
'_settings/_normalize.scss';
// Tools
@import '_tools/_functions.scss',
'_tools/_mixins.scss',
'_tools/_placeholders.scss';
// Base
@import '_base/_base.scss',
'_base/_fonts.scss',
'_base/_media.scss',
'_base/_typography.scss';

// Import variables and mixins
@import "abstracts/abstracts";

/**
 * Account
 */
@import "plugins/woocommerce/account";

/**
 * Shop tables
 */
@import "plugins/woocommerce/tables";

/**
 * Products
 */
@import "plugins/woocommerce/products";

/**
 * Single product
 */
@import "plugins/woocommerce/single-product";

/**
 * Checkout
 */
@import "plugins/woocommerce/checkout";

/**
 * General WooCommerce components
 */
@import "plugins/woocommerce/components";

/**
 * WooCommerce widgets
 */
@import "plugins/woocommerce/widgets";
