body.woocommerce-account {
    .woocommerce {
        --gap: #{rem(40)} 1.666666vw;

        @media screen and (min-width: em(1024, 16)) {
            --gap: #{rem(80)} 1.666666vw;
        }
        background-color: $cinza-background;
        grid-column: 1 / -1;
        position: relative;
        display: grid;
        grid-template-columns: 4vw repeat(12, minmax(0, 1fr)) 4vw;
        gap: var(--gap);

        >* {
            grid-column: 2 / -2;
        }
    }
    .woocommerce-MyAccount {
        &-navigation {
            position: relative;
            box-sizing: border-box;
            padding: rem(40);
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                @extend %texto-m-gt;
                &:before {
                    @extend %titulo-pp-exp;
                    text-transform: uppercase;
                    transform: translateY(-100%);
                    flex: 100%;
                }
                li {
                    text-transform: uppercase;
                    margin-right: rem(8);
                    background-color: $cinza-background;
                    transition: background-color 300ms ease;
                    a {
                        text-decoration: none;
                        color: $texto;
                        display: block;
                        padding: rem(8) rem(16);
                        width: 100%;
                        transition: color 300ms ease;
                    }

                    &:hover {
                        background-color: $cinza;
                        &:before {
                            background-color: $cinza;
                        }
                    }

                    &.is-active {
                        background-color: $texto;
                        a {
                            color: $principal;
                        }

                        &:before {
                            background-color: $texto;
                        }
                    }
                }
            }
        }
        &-content {
            --gap: #{rem(20)} 1.666666vw;

            @media screen and (min-width: em(1024, 16)) {
                --gap: #{rem(40)} 1.666666vw;
            }
            display: grid;
            gap: var(--gap);
            .woocommerce-message,
            .woocommerce-notices-wrapper,
            .woocommerce-NoticeGroup,
            .woocommerce-form-coupon-toggle {
                grid-column: 1/-1;
            }
            .woocommerce-EditAccountForm,
            .woocommerce-Addresses {
                --gap: #{rem(12)} 1.666666vw;

                @media screen and (min-width: em(1024, 16)) {
                    --gap: #{rem(16)} 1.666666vw;
                }
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(#{rem(300)}, 1fr));
                gap: var(--gap);
            }
            a {
                color: $texto;
            }
            .woocommerce-form-row {
                span {
                    font-size: 0.75em;
                }
            }
            .woocommerce-order-details {
                th {
                    text-align: left;
                }
            }
            .woocommerce-table {
                display: block;
                width: 100%;
                > *, > * > * {
                    display: grid;
                    gap: rem(8);
                }
                > * {
                    margin-bottom: rem(8);
                }
                > * > * {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
                &.wc-correios-tracking__table {
                    > * > * {
                        grid-template-columns: max-content minmax(0, 1fr);
                    }
                    .wc-correios-tracking__button {
                        padding: 0;
                        border: 0;
                        text-decoration: underline;
                        background-color: transparent;
                        cursor: pointer;
                        &:hover {
                            color: $complementar;
                        }
                    }
                }
            }
            [href*='order_again'] {
                display: inline-block;
                margin-top: em(40);
            }
        }
        @media screen and (min-width: em(800)) {
            &-navigation {
                grid-column: 2 / span 3;
                padding: rem(120) 0;
                border-right: 3px solid $texto;
                ul {
                    &:before {
                        content: 'Conta';
                    }
                    li {
                        flex: 100%;
                        margin-right: 0;
                        position: relative;
                        a {
                            padding: rem(8) 0;
                        }
                        &:before {
                            position: absolute;
                            top: 0;
                            right: 100%;
                            height: 100%;
                            width: 5.666666vw;
                            content: '';
                            background-color: $cinza-background;
                            transition: background-color 300ms ease;
                        }
                    }
                }
            }
            &-content {
                grid-column: 6 / span 8;
                padding: rem(120) 0;

                fieldset {
                    grid-column: 2;
                    grid-row: 1 / span 3;
                    align-self: start;
                }

                .woocommerce-form-row {
                    grid-column: 1;
                    margin: 0;
                }

                .clear {
                    display: none;
                }
                .woocommerce-EditAccountForm {
                    p:not([class]) {
                        grid-column: 1 / -1;
                    }
                }
            }
        }
    }
} 