@media screen and (min-width: 768px) {

	.col2-set {

		.form-row-first {
			float: left;
			margin-right: $columns__margin;
		}

		.form-row-last {
			float: right;
			margin-right: 0;
		}

		.form-row-first,
		.form-row-last {

			@include column-width(2);
		}
	}
}

body.woocommerce-cart {
	.entry-content {
		>.woocommerce {
			@media screen and (min-width: em(800)) {
				&:after {
					position: absolute;
					content: '';
					grid-column: 10;
					grid-row: 2;
					width: 3px;
					height: 200vh;
					justify-self: center;
					background-color: $texto;
					top: 0;
					left: 0;
					transform: translateX(calc(calc(calc(100vw - (calc(8vw + calc(13 * 1.666666vw)))) / 12) / 2));
				}
			}
		}
	}
}
body.woocommerce-cart, body.woocommerce-checkout {
	.entry-content {
		>.woocommerce,
		form.checkout {
			overflow: hidden;
			grid-column: 1 / -1;
			position: relative;
			display: grid;
			grid-template-columns: 4vw repeat(12, minmax(0, 1fr)) 4vw;
			padding-bottom: rem(200);
		}
		>.woocommerce {
			--gap: #{rem(40)} 1.666666vw;

			@media screen and (min-width: em(1024, 16)) {
				--gap: #{rem(80)} 1.666666vw;
			}
			gap: var(--gap);
		}
		form.checkout {
			--gap: #{rem(20)} 1.666666vw;

			@media screen and (min-width: em(1024, 16)) {
				--gap: #{rem(40)} 1.666666vw;
			}
			grid-auto-rows: auto em(64) auto;
			gap: var(--gap);

			@media screen and (min-width: em(800)) {
				&:after {
					position: absolute;
					content: '';
					grid-column: 10;
					grid-row: 2;
					width: 3px;
					height: 200vh;
					justify-self: center;
					background-color: $texto;
					top: 0;
					left: 0;
					transform: translateX(calc(calc(calc(100vw - (calc(8vw + calc(13 * 1.666666vw)))) / 12) / 2));
				}
			}

			.woocommerce-billing-fields {
				> h3 {
					margin-bottom: rem(56);
				}
				&__field-wrapper {
					position: relative;
					&:before {
						position: absolute;
						top: rem(-32);
						left: -20vw;
						width: 200vw;
						height: 300vh;
						background-color: $cinza-background;
						content: '';
						z-index: -1;
					}
				}
			}
		}
		.checkout_coupon {
			grid-column: 2 / -2;
		}
	}
	.cart-collaterals {
		grid-column: 2 / -2;
		@media screen and (min-width: em(800)) {
			grid-row: 2;
			grid-column: 11 / span 3;
		}
	}
	.woocommerce-cart-form__contents, .cart_totals {
		--gap: #{rem(16)};

		@media screen and (min-width: em(1024, 16)) {
			--gap: #{rem(32)};
		}
		display: grid;
		grid-template-rows: rem(48);
		row-gap: var(--gap);
		grid-auto-rows: max-content;
	}

	#customer_details {
		grid-column: 2 / -2;
		@media screen and (min-width: em(800)) {
			grid-row: 2 / 4;
			grid-column: 2 / span 8;
		}
	}
	#order_review_heading {
		margin: 0;
		align-self: center;
		grid-column: 2 / -2;
		grid-row: 2;
		@media screen and (min-width: em(800)) {
			grid-column: 11 / span 3;
		}
	}
	#order_review {
		grid-column: 2 / -2;
		grid-row: 3;
		@media screen and (min-width: em(800)) {
			grid-column: 11 / span 3;
		}

	}
	.woocommerce-cart-form {
		grid-column: 2 / -2;
		@media screen and (min-width: em(800)) {
			grid-row: 2;
			grid-column: 2 / span 8;
		}
		&__contents {
			tbody {
				--gap: #{rem(16)};

				@media screen and (min-width: em(1024, 16)) {
					--gap: #{rem(32)};
				}
				display: grid;
				grid-template-columns: minmax(0, 1fr);
				grid-auto-rows: max-content;
				row-gap: var(--gap);
				position: relative;
				&:before {
					position: absolute;
					top: calc(var(--gap) * -1);
					left: -20vw;
					width: 200vw;
					height: 100vh;
					background-color: $cinza-background;
					content: '';
					z-index: -1;
				}
				tr {
					grid-template-rows: auto auto auto auto auto auto 1px;
					grid-template-areas: "thumbnail" "name" "price" "quantity" "subtotal" "remove" "separator";
					@media screen and (min-width: em(800)) {
						grid-template-rows: auto 1px;
						grid-template-areas: "thumbnail name price quantity subtotal remove"
						"thumbnail separator separator separator separator separator";
					}
				}
			}
			thead {
				display: flex;
				align-items: center;
				@media screen and (max-width: em(800)) {
					visibility: hidden;
				}
				tr {
					width: 100%;
					grid-template-areas: "thumbnail name price quantity subtotal remove";
				}
			}
			tr {
				display: grid;
				gap: rem(16) 1.666666vw;

				@media screen and (min-width: em(800)) {
					grid-template-columns: rem(80) minmax(0, 3fr) repeat(4, minmax(0, 1fr));
				}
			}

			.product-remove {
				grid-area: remove;
				justify-self: end;
				a {
					text-decoration: none;
					font-size: 0;
					&:after {
						display: block;
						transform-origin: center;
						transform: rotate(0);
						content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMuMTgxODggMTAuODcyOEwxMC41NTQ3IDMuNU0zLjQ0NTQ4IDMuNUwxMC44MTgyIDEwLjg3MjgiIHN0cm9rZT0iIzk3OUE4RiIgc3Ryb2tlLXdpZHRoPSIxLjI3MjczIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==');
						transition: transform 300ms ease;
					}
					&:hover {
						&:after {
							transform: rotate(-90deg);
						}
					}
				}
			}

			.product-thumbnail {
				display: flex;
				grid-area: thumbnail;
				max-height: em(140);
				&:before {
					display: none;
				}
				a {
					img {
						height: 100%;
						width: auto;
					}
				}
				@media screen and (min-width: em(800)) {
					max-height: unset;
					a {
						display: block;
						position: relative;
						width: 100%;
						padding-bottom: 100%;
						height: 0;
						overflow: hidden;
						margin: 0 auto;
						max-width: 80px;
						img {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}

			.product-name,
			.product-price,
			.product-quantity,
			.product-subtotal,
			.product-remove {
				align-self: end;
				@extend %texto-m-gt;
				color: $texto;
				@media screen and (max-width: em(800)) {
					justify-self: start;
					&:before {
						margin-right: .5em;
					}
				}
			}

			.product-name {
				grid-area: name;
				a {
					color: $texto;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}

			.product-price {
				grid-area: price;
			}

			.product-quantity {
				display: flex;
				align-items: center;
				grid-area: quantity;
				button {
					outline: none;
					cursor: pointer;
					&.up {
						order: 10;
					}
					svg {
						width: rem(14);
					}
				}
				input[type="number"] {
					text-align: center;
					padding: 0 rem(12);
					box-shadow: none;
					background-color: transparent;
				}
			}

			.product-subtotal {
				grid-area: subtotal;
			}

			.actions {
				&, .coupon {
					grid-column: 1 / -1;
					display: grid;
					grid-template-columns: repeat(4, minmax(0, 1fr));
					grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
					gap: rem(12);
				}
				.coupon {
					grid-row: 1 / 3;
					label {
						display: none;
					}
					input {
						grid-column: 1 / -1;
					}
					button {
						grid-row: 2;
						justify-self: start;
					}
					.wc-backward {
						align-self: center;
					}
				}
				> button.button {
					grid-column: 3 / -1;
					grid-row: 2;
					@include button($w: auto, $c: $principal, $bgc: $texto, $p: rem(16) rem(24));
				}
			}
		}
		&__cart-item {
			&:after {
				content: '';
				height: 1px;
				background-color: $cinza;
				grid-area: separator;
				align-self: end;
			}
		}
	}

	.cart_totals,
	.woocommerce-checkout-review-order {
		> h2 {
			@extend %texto-m-exp;
			margin: 0;
			align-self: baseline;
			transform: translateY(5px);
		}
		.shop_table {
			--gap: #{rem(16)};

			@media screen and (min-width: em(1024, 16)) {
				--gap: #{rem(24)};
			}
			display: grid;
			grid-template-columns: minmax(0, 1fr);
			row-gap: var(--gap);
			margin-bottom: rem(32);
			tbody, thead, tfoot {
				--gap: #{rem(20)};

				@media screen and (min-width: em(1024, 16)) {
					--gap: #{rem(32)};
				}
				display: grid;
				grid-template-columns: minmax(0, 1fr);
				grid-template-rows: max-content;
				row-gap: var(--gap);
				> * {
					width: 100%;
					&:not(.woocommerce-shipping-totals):not(.shipping) {
						display: flex;
						justify-content: space-between;

						>*:not(:last-child) {
							margin-right: rem(12);
						}
					}
				}
				.woocommerce-shipping-totals.shipping {
					th {
						text-align: left;
					}
				}
			}
			th, td {
				padding: 0;
			}
			.woocommerce-shipping-totals {
				display: grid;
				grid-template-columns: minmax(0, 1fr);
				grid-template-rows: max-content;
				row-gap: rem(16);
				.woocommerce-shipping-methods {
					margin: 0;
					padding: 0;
					list-style: none;
					display: grid;
					grid-template-columns: minmax(0, 1fr);
					grid-template-rows: max-content;
					row-gap: rem(16);
					margin-bottom: rem(32);
					li {
						position: relative;
						box-sizing: border-box;
						padding: rem(12);
						box-shadow: inset 0 0 0 2px $texto;
						transition: box-shadow 300ms ease;

						display: grid;
						grid-template-columns: minmax(0, 1fr);
						grid-template-rows: repeat(2, 1fr);
						pointer-events: none;
						&:hover {
							box-shadow: inset 0 0 0 3px $complementar;
						}
						input[type="radio"] {
							width: 0;
							height: 0;
							position: absolute;
							top: rem(12);
							right: rem(32);
							&:after {
								display: block;
								content: '';
								width: rem(20);
								height: rem(20);
								border: 1px solid $texto;
								box-sizing: border-box;
								border-radius: 50%;
								transition: background-color 300ms ease;
							}
							&:checked {
								&:after {
									background-color: $texto;
								}
							}
						}
						label {
							pointer-events: auto;
							grid-row: 1 / 3;
							grid-column: 1;
							z-index: 10;
							text-align: left;
						}
						p {
							grid-column: 1;
							grid-row: 2;
							pointer-events: none;
							text-align: left;
						}
					}
				}
				.woocommerce-shipping-destination {
					@extend %texto-m-gt;
				}
				.shipping-calculator {
					&-button {
						color: $texto;
					}
					&-form {
						&:not([style*="display: none"]) {
							margin-top: rem(12);
						}
						button {
							@extend %button-secondary;
						}
					}
				}
			}
		}
	}
}

body.woocommerce-order-received {
	.entry-content {
		> .woocommerce {
			> .woocommerce-order {
				grid-column: 1 / -1;
				@media screen and (min-width: em(1024, 16)) {
					grid-column: 4 / -4;
				}
			}
		}
	}
}