.card {
    &.fixo {
        > a {
            display: grid;
            grid-template-columns: 2.22222vw minmax(0, 1fr) 2.22222vw;
            grid-template-rows: 2.22222vw minmax(0, 1fr) 2.22222vw;
            height: calc(100vh - #{rem(48)});
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
            img, picture {
                width: 100%;
                height: 100%;
                object-fit: cover;
                grid-column: 1 / span 3;
                grid-row: 1 / span 3;
            }
            .info {
                grid-column: 2;
                grid-row: 2;
                z-index: 10;
                align-self: end;
                color: var(--textoDestaque);
                width: 100%;
                display: flex;
                flex-direction: column;
                > * {
                    background-color: var(--fundoDestaque);
                    align-self: flex-start;
                    padding: rem(10);
                }
                p {
                    @extend %texto-pp-mono;
                }
            }
            .titulo {
                margin: 0;
                text-transform: uppercase;
                @extend %texto-m-exp;
                font-weight: 900;
                line-height: 1;
            }
            .meta {
                order: -1;
                text-transform: uppercase;
                display: inherit;
                &:empty {
                    display: none;
                }
                span {
                    display: inline-block;
                    @extend %texto-m-gt;
                    line-height: 1;
                    color: var(--textoDestaque);
                    &:not(:last-child) {
                        &:after {
                            content: ' — ';
                            margin-right: .25em;
                        }
                    }
                }
            }
        }
    }
    &.padrao {
        display: block;
        .info {
            padding: 0 em(18);
            text-align: center;
        }
        .nome {
            display: none;
        }
        .autoria {
            @extend %texto-pp-mono;
        }
    }
    &.padrao, &.grande, &.vertical {
        > a {
            display: block;
            margin-bottom: em(10);
        }
        a {
            color: $texto;
        }
        .titulo {
            text-decoration: none;
            display: block;
            margin-bottom: em(10);
            > * {
                @extend %titulo-pp-exp;
                margin: 0;
            }
        }
        .edicao, .categoria {
            text-transform: uppercase;
            @extend %texto-pp-mono;
        }
        .autoria {
            margin-top: rem(10);
            div.autor & {
                display: none;
            }
        }
    }

    &.grande, &.vertical, body.archive.category main:not(.fixos) &.editoria:nth-of-type(-n+3), body.archive.category &.editoria.slick-slide {
        .meta {
            margin-bottom: rem(10);
        }
        .titulo {
            margin-bottom: rem(10);
        }
        .resumo {
            @extend %texto-m-gt;
        }
    }

    .loop &, .artigos &, body.archive.category &, .resultados & {
        > a {
            height: 0;
            overflow: hidden;
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:empty {
                height: unset;
                background-color: $complementar;
                display: flex;
                justify-content: center;
                text-decoration: none;
                position: relative;
            }
        }
    }
    .loop &.padrao, body.archive.category main.fixos &:nth-of-type(n+4):not(.slick-slide), body.archive.category main &, .resultados & {
        > a {
            padding-bottom: 75%;
        }
        .titulo {
            > * {
                @extend %titulo-p-louize;
            }
        }
        .nome {
            display: inline-block;
        }
    }

    .loop & {
        &.padrao {
            .categoria {
                display: none;
            }
        }
    }

    .loop.dois &.grande{
        .titulo {
            > * {
                @extend %titulo-g-louize;
                max-width: em(420, 50);
            }
        }
        > a {
            padding-bottom: 66%;
        }
    }
    
    .loop.tres &.vertical, body.archive.category &.editoria.slick-slide {
        .info {
            padding: 0;
            text-align: left;
            display: flex;
            flex-direction: column;
            .meta {
                order: -1;
            }
            .autoria {
                order: 10;
            }
        }
        .titulo {
            > * {
                @extend %titulo-m-louize;
                text-transform: uppercase;
            }
        }
        > a {
            padding-bottom: 140%;
        }

        &[data-count="0"],
        &[data-count="1"],
        &[data-count="2"] {
            background: tomato;
        }
    }
    
    
    &.edicao {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        a {
            color: $texto;
            text-decoration: none;
        }
        .info {
            h2 {
                @extend %titulo-p-louize;
            }
            .publicacao {
                @extend %tag-pp-mono;
            }
        }
        .preco {
            @extend %texto-g-gt;
        }
        > a {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                background-image: var(--hover);
                background-size: cover;
                background-position: center;
                opacity: 0;
            }
            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }
    }

    body.archive.category &:nth-of-type(n+4), body.archive.category main.fixos &:not(.slick-slide) {
        .resumo {
            display: none;
        }
    }

    .meta {
        display: block;
    }

    a {
        &:hover {
            &, + .titulo, + * .titulo, &.titulo {
                text-decoration: underline; 
            }
        }
    }
    &.criacao {
        display: flex;
        flex-direction: column;
        align-items: start;
        > * {
            &:not(:last-child) {
                margin-bottom: rem(16);
            }
        }
        .post-thumbnail {
            display: block;
            position: relative;
            height: 0;
            padding-bottom: 85%;
            width: 100%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover {
                + .info .titulo {
                    text-decoration: underline;
                }
            }
        }
        .info {
            a {
                text-decoration: none;
                color: $texto;

                &:hover {
                    text-decoration: underline;
                }
            }
            .titulo {
                h2 {
                    @extend %titulo-g-louize;
                    margin: 0 0 em(12,50);
                }
            }
        }
        .categoria {
            @extend %texto-m-mono;
        }
    }
}

.related.products {
    .product {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: 1.666666vw;
        margin: 0 !important;
        &.outofstock {
            [class*='price'] {
                display: none;
            }

            &:after {
                display: block;
                content: 'Esgotado';
            }
        }
    }
    .woocommerce-loop-product {
        &__link {
            color: $texto;
            text-decoration: none;
            img {
                width: 100%;
                height: auto;
            }
            ~ a.button {
                display: none;
            }
            > .price {
                @extend %texto-m-gt;
                margin-bottom: rem(12);
                .amount {
                    margin: 0 auto;
                }
            }
            &:hover {
                .woocommerce-loop-product__title {
                    text-decoration: underline;
                }
            }
        }
        &__title {
            @extend %titulo-p-louize;
        }
    }
}