form {
    &.searchandfilter {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
    &.cart {
        .single-product & {
            &, .woocommerce-variation-add-to-cart {
                display: flex;
                flex-wrap: wrap;
                .quantity {
                    .qty {
                        width: auto;
                        max-width: rem(48);
                        text-align: center;
                        @extend %texto-p-mono;
                        margin-right: -1px;
                    }
                }
                [class*="add_to_cart"] {
                    flex: 1;
                }
                .added_to_cart {
                    flex: 100%;
                    padding: rem(8) 0;
                    color: $texto;
                    @extend %texto-m-exp;
                }
            }
        }
    }
    .woocommerce-billing-fields__field-wrapper {
        --gap: #{em(20)} 1.666666vw;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: var(--gap);
        @media screen and (min-width: em(800, 16)) {
            --gap: #{em(32)} 1.666666vw;
        }
        .form-row {
            margin: 0;
            grid-column: span 2;
            width: 100%;
            .woocommerce-input-wrapper {
                display: block;
                width: 100%;
            }
        }
    }
}

.woovr-variations {
    .woovr-variation {
        &-selector {
            display: none;
        }
    }
}

tr {
    &.recurring-totals, &.recurring-total {
        th {
            font-size: 0;
            &:after {
                text-align: left;
                display: block;
                font-size: 1rem;
            }
        }
        td[data-title='Recurring total'] {
            text-align: right;
        }
    }
    &.recurring-totals {
        th:after {
            content: 'Totais recorrentes';
        }
    }
    &.recurring-total:not(.cart-subtotal) {
        th:after {
            content: 'Total recorrente';
        }
    }
    &.recurring-total.cart-subtotal {
        th:after {
            content: 'Subtotal recorrente';
        }
    }
}