.login {
    #masthead & {
        &-trigger {
            cursor: pointer;
        }

        &-wrapper {
            position: relative;
        }

        &-overlay {
            position: fixed;
            pointer-events: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: $fundo;
            opacity: 0;
            cursor: pointer;
            transition: opacity 300ms ease;
            body.open-login & {
                pointer-events: all;
                opacity: 0.25;
                transition: opacity 600ms ease;
            }
        }
    }

    &-form {
        --texto: #{$branco};
        --fundo: #{$preto};
        pointer-events: none;
        position: fixed;
        z-index: 1050;
        top: 50%;
        left: 50%;
        width: 95vw;
        max-width: rem(320);
        transform: translate(-50%, -50%);
        opacity: 0;
        background-color: $fundo;
        padding: rem(28);
        color: $texto;
        transition: opacity 300ms ease;
        .form-row {
            display: flex;
            flex-wrap: wrap;

            .woocommerce-form-login__rememberme {
                margin-right: rem(16);
                align-self: center;

                ~* {
                    margin-left: auto;
                }
            }
        }

        input {

            &[type="password"],
            &[type="password"] {
                position: absolute;
                top: -100vh;
            }

            &.woocommerce-form__input-checkbox {
                display: none;

                +span {
                    display: flex;
                    align-items: center;

                    &:before {
                        margin-right: rem(12);
                        visibility: visible;
                        content: '';
                        width: rem(16);
                        height: rem(16);
                        display: inline-block;
                        background-color: $fundo;
                        box-shadow: inset 0 0 0 1px $texto, inset 0 0 0 2px $fundo;
                        transition: background-color 120ms ease;
                    }
                }

                &:checked {
                    +span {
                        &:before {
                            background-color: $texto;
                        }
                    }
                }
            }
        }

        .woocommerce-form-login__submit {
            @include button($e: "%tag-pp-mono", $w: unset, $c: $fundo);
        }

        a {
            color: $texto;
            @extend %texto-p-gt;

            &:hover {
                color: $principal;
            }

            &[href*='/assine'] {
                @include button($e: "%tag-pp-mono", $p: rem(8) rem(20), $bgc: $fundo, $c: $complementar);
            }
        }

        .lost_password {
            text-align: center;
        }

        body.open-login & {
            opacity: 1;
            pointer-events: all;
            transition: opacity 600ms ease;

            input {

                &[type="password"],
                &[type="password"] {
                    position: unset;
                    top: unset;
                }
            }
        }
    }
}

.newsletter-wrapper {
    .wp-block-group__inner-container {
        position: relative;
        .wp-block-buttons {
            margin-bottom: 0 !important;
            margin-right: rem(24);
            font-weight: 900;
            .wp-block-button {
                margin-bottom: 0;
                &__link {
                    @extend %texto-pp-exp;
                    padding: 0;
                    text-transform: uppercase;
                    background-color: unset;
                    color: $texto;
                }
            }
        }
        .newsletter-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 200;
            pointer-events: none;
            cursor: pointer;
            opacity: 0;
            transition: opacity 300ms ease;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.95;
                background-color: $fundo;
            }
            body.open-news & {
                pointer-events: all;
                opacity: 1;
            }
        }
    }
}

#masthead .widget.busca {
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 200;
        pointer-events: none;
        cursor: pointer;
        box-sizing: border-box;
        padding: rem(80) 5.666666vw;
        opacity: 0;
        transition: opacity 300ms ease;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.95;
            background-color: $fundo;
        }

        body.open-search & {
            pointer-events: all;
            opacity: 1;
        }
        ul {
            position: relative;
            z-index: 10;
            display: flex;
            width: 100%;
            li{
                flex: 100%;
                label {
                    width: 100%;
                }
            }
            .sf-field-submit {
                position: absolute;
                z-index: 50;
                right: rem(12);
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: center;
                // top: 50%;

                input {
                    font-size: 0;
                    width: rem(20);
                    height: rem(20);
                    border-radius: 100%;
                    padding: 0;
                    border: 0;
                    background-color: $principal;
                    outline: none;
                    transform-origin: center;
                    cursor: pointer;
                    transition: transform 600ms cubic-bezier(1, -0.25, .52, 1.03), background-color 300ms ease;
                    transform: scale(1);

                    &:hover {
                        transform: scale(1.25);
                        background-color: $complementar;
                        transition: background-color 300ms ease, transform 600ms cubic-bezier(.52, -0.03, 0, 1.25);
                    }
                }
            }
        }
    }
}