.prev, .next {
    border: 0;
    border-radius: 0;
    background: none;
    outline: none;
    cursor: pointer;
    transition: opacity 300ms ease;
    svg {
        opacity: 0.5;
        transition: opacity 300ms ease;
        @media screen and (max-width: rem(800)) {
            max-width: rem(28);
        }
        * {
            fill: $texto;
        }
    }
    &:hover {
        svg {
            opacity: 1;
        }
    }
    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.25;
    }
}
.prev {
    transform: rotateY(180deg);
}

.slider-nav {
    display: flex;
    justify-content: end;
    justify-content: flex-end;
    outline: none;
    svg {
        max-width: rem(24);
    }
}

.menu {
    &, ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .sub-menu {
        display: none;
    }
    .topo & {
        display: flex;
        flex-wrap: wrap;
        li {
            margin-right: rem(24);
        }
        a {
            @extend %texto-pp-exp;
            text-transform: uppercase;
            text-decoration: none;
            color: $texto;
            font-weight: 900;
        }
    }
    &#editorias, &#paginas {
        display: flex;
        flex-direction: column;
        > li {
            // flex: auto;
        }
        a {
            @extend %texto-m-exp;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 900;
        }

        #colophon & {
            a {
                @extend %texto-m-gt;
                text-transform: unset;
                font-weight: 500;

                &[href*="visita"] {
                    display: none;
                }
            }
            .sub-menu {
                display: block;
            }
        }
    }
    &#paginas {
        align-items: flex-end;
        #colophon & {
            align-items: flex-start;
            a {
                text-transform: uppercase;
            }
            :nth-last-child(2) {
                margin-bottom: rem(16);
            }
            :last-child {
                margin-top: auto;
            }
        }
    }
    #colophon & {
        .quem-somos {
            order: 10;
            margin-top: rem(36);
        }
        li {

            .sub-menu {
                .sub-menu {
                    > li {
                        &:before {
                            background-color: $texto;
                        }
                    }
                }
            }
        }
    }
    .current-menu-item {
        > a {
            color: $principal;
        }
    }
}

nav {
    &.wp-block-navigation {
        &.menu-loja {
            &:first-child {
                padding: rem(80) 0 0;
            }
            padding: rem(80) 0 rem(80);
            .wp-block-navigation-link {
                padding: 0;
                &__content {
                    color: $cinza;
                    padding: 0;
                    transition: color 300ms ease;
                    text-align: center;
                    &:hover {
                        color: $texto;
                    }
                }
                &__label {
                    @extend %titulo-gg-exp;
                    text-transform: uppercase;
                }
                &.current-menu-item {
                    pointer-events: none;
                    .wp-block-navigation-link__content {
                        color: $texto;
                    }
                }
                &:not(:last-child) {
                    .wp-block-navigation-link__label {
                        &:after {
                            content: '/';
                            pointer-events: none;
                            color: $texto;
                        }
                    }
                }
            }
        }
    }
}

nav.secoes {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid $texto;
    a {
        @extend %texto-m-mono;
        color: $texto;
        text-decoration: none;
        padding: rem(20) rem(40);
        &.active {
            pointer-events: none;
            color: $complementar;
        }
        &:hover {
            color: $complementar;
            text-decoration: underline;
        }
        &:not(:last-child) {
            margin-right: 7vw;
        }
    }
}