@import "../../_settings/colors",
"../../_tools/functions",
"../../_tools/mixins",
"../../_base/typography";

$var-amarello: #d4ff29;
$var-preto: #1b1b19;
$var-vermelho: #ff5656;
$var-cinza: #979a8f;
$var-azul: #293fff;
$var-branco: #ffffff;
$var-amarello-dark-mode: #a6c431;
$var-cinza-background: #f9f9f9;
$var-proxima-edicao: #1a5632;

$principal: var(--principal, #{$var-amarello});
$texto: var(--preto, #{$var-preto});
$vermelho: var(--vermelho, #{$var-vermelho});
$cinza: var(--cinza, #{$var-cinza});
$complementar: var(--complementar, #{$var-azul});
$fundo: var(--branco, #{$var-branco});
$amarello-dark-mode: var(--amarello-dark-mode, #{$var-amarello-dark-mode});
$cinza-background: var(--cinza-background, #{$var-cinza-background});
$proxima-edicao: var(--proxima-edicao, #{$var-proxima-edicao});
$textoPrincipal: var(--textoPrincipal, #{$var-preto});
$textoComplementar: var(--textoComplementar, #{$var-branco});
$texto: var(--texto, #{$var-preto});
$fundo: var(--fundo, #{$var-branco});

.titulo-completo {
    &.alignleft {
        > * {
            grid-column: 1 / -1;
            text-align: left;
        }
        > .meta {
            justify-content: flex-start;
        }
    }
    &.alignright {
        > * {
            grid-column: 1 / -1;
            text-align: right;
        }
        > .meta {
            justify-content: flex-end;
        }
    }

    display: flex !important;
    flex-direction: column;

    .antes-titulo {
        order: -1;
        + .entry-title {
            order: 10;
        }
        &.depois-autoria {
            order: 5;
        }
    }
    .depois-titulo {
        order: 5;
        + .entry-title {
            order: -1;
        }
        &.depois-autoria {
            order: 10;
        }
    }
}