@import "../../_settings/colors",
"../../_tools/functions",
"../../_tools/mixins",
"../../_base/typography";

%tag-xgg-mono {
    font-family: 'GT America Mono', monospace;
}

%tag-gg-mono {
    font-family: 'GT America Mono', monospace;
}

%tag-g-mono {
    font-family: 'GT America Mono', monospace;
}

%tag-m-mono {
    font-family: 'GT America Mono', monospace;
}

%tag-p-mono {
    font-family: 'GT America Mono', monospace;
    $map: (
        320px: 12px,
        1024px: 16px
    );
    line-height: calc(20 / 16);
    @include poly-fluid-sizing('font-size', $map);
}

%tag-pp-mono {
    font-family: 'GT America Mono', monospace;
    font-size: rem(12);
    line-height: calc(16 / 12);
}

$var-amarello: #d4ff29;
$var-preto: #1b1b19;
$var-vermelho: #ff5656;
$var-cinza: #979a8f;
$var-azul: #293fff;
$var-branco: #ffffff;
$var-amarello-dark-mode: #a6c431;
$var-cinza-background: #f9f9f9;
$var-proxima-edicao: #1a5632;

$principal: var(--principal, #{$var-amarello});
$texto: var(--preto, #{$var-preto});
$vermelho: var(--vermelho, #{$var-vermelho});
$cinza: var(--cinza, #{$var-cinza});
$complementar: var(--complementar, #{$var-azul});
$fundo: var(--branco, #{$var-branco});
$amarello-dark-mode: var(--amarello-dark-mode, #{$var-amarello-dark-mode});
$cinza-background: var(--cinza-background, #{$var-cinza-background});
$proxima-edicao: var(--proxima-edicao, #{$var-proxima-edicao});
$textoPrincipal: var(--textoPrincipal, #{$var-preto});
$textoComplementar: var(--textoComplementar, #{$var-branco});
$texto: var(--texto, #{$var-preto});
$fundo: var(--fundo, #{$var-branco});

.newsletter {
    --gap: #{em(40)};
    border: 1px solid $texto;
    box-sizing: border-box;
    padding: rem(64) rem(72);

    display: grid;
    gap: var(--gap);
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    align-items: center;
    @media screen and (max-width: em(1024, 16)) {
        --gap: #{em(72)};
        p, .form {
            grid-column: 1 / -1;
        }
    }
    p {
        @extend %tag-m-mono;
    }
    form {
        position: relative;
        width: 100%;
        input[type="email"] {
        }
        .send-button {
            position: absolute;
            right: rem(20);
            top: 50%;
            transform: translateY(-50%) scale(1);
            &:hover {
                transform: translateY(-50%) scale(1.25);
                background-color: $complementar;
                transition: background-color 300ms ease, transform 600ms cubic-bezier(.52,-0.03,0,1.25);
            }
        }
    }
}