.select2 {
    &-selection {
        background-color: transparent !important;
        border-radius: 0 !important;
        border: 0 !important;
        height: unset !important;
        display: flex !important;
        align-items: center;
        &__rendered {
            background-color: transparent;
            color: $texto;
            box-sizing: border-box;
            @extend %texto-m-gt;
            line-height: 1;
            border: 0;
            box-shadow: inset 0 -1px 0 $texto;
            border-radius: 0;
            padding: rem(12);
            width: 100%;
            outline: none;
            transition: box-shadow 300ms ease;
            line-height: unset !important;
        }
        &__arrow {
            top: unset !important;
            right: 0 !important;
            width: 24px !important;
        }
    }
    &-dropdown {
        border-color: $texto;
    }
}