@import "../../_settings/colors",
"../../_tools/functions",
"../../_tools/mixins",
"../../_base/typography";

$var-amarello: #d4ff29;
$var-preto: #1b1b19;
$var-vermelho: #ff5656;
$var-cinza: #979a8f;
$var-azul: #293fff;
$var-branco: #ffffff;
$var-amarello-dark-mode: #a6c431;
$var-cinza-background: #f9f9f9;
$var-proxima-edicao: #1a5632;

$principal: var(--principal, #{$var-amarello});
$texto: var(--preto, #{$var-preto});
$vermelho: var(--vermelho, #{$var-vermelho});
$cinza: var(--cinza, #{$var-cinza});
$complementar: var(--complementar, #{$var-azul});
$fundo: var(--branco, #{$var-branco});
$amarello-dark-mode: var(--amarello-dark-mode, #{$var-amarello-dark-mode});
$cinza-background: var(--cinza-background, #{$var-cinza-background});
$proxima-edicao: var(--proxima-edicao, #{$var-proxima-edicao});
$textoPrincipal: var(--textoPrincipal, #{$var-preto});
$textoComplementar: var(--textoComplementar, #{$var-branco});
$texto: var(--texto, #{$var-preto});
$fundo: var(--fundo, #{$var-branco});

.chamada {
    box-sizing: border-box;
    margin: rem(80) 0;
    position: relative;
    z-index: 500;
    text-align: center;
    .overlay {
        position: absolute;
        width: 100%;
        height: 300vh;
        pointer-events: none;
        background-color: $complementar;
        z-index: -1;
        content: '';
        left: 0;
        top: -100vh;
        opacity: 0;
        // transition: opacity 300ms ease;
    }
    a {
        text-align: center;
        display: inline-flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
        @extend %titulo-g-exp;
    font-stretch: extra-expanded;
        line-height: 1;
        font-weight: normal;
        color: $texto;
        transition: color 300ms ease;
        span {
            transform: translateY(-0.045em);
            font-family: 'GT America', sans-serif;
            line-height: 1;
            font-weight: normal;
            font-stretch: normal;
            pointer-events: none;
            $map: (
                320px: 100px,
                640px: 120px,
                1024px: 150px,
                1440px: 200px
            );
            @include poly-fluid-sizing('font-size', $map);
            &:first-child {
                margin-right: 0.25em;
            }
            &:last-child {
                margin-left: 0.25em;
            }
        }
        &:hover {
            color: $principal;
            + .overlay {
                opacity: 1;
            }
        }
    }
    &.alignfull {
        padding: 0 5.666666vw;
    }
}