.wp-block[data-align=left],.wp-block[data-align=right]{height:unset !important}.wp-block[data-align=left]>*,.wp-block[data-align=right]>*{float:unset !important}.wp-block[data-align=left]>* *,.wp-block[data-align=right]>* *{grid-column:1/-1 !important}.wp-block[data-align=left] *{justify-content:flex-start !important;text-align:left !important}.wp-block[data-align=right] *{justify-content:flex-end !important;text-align:right !important}.editor-styles-wrapper{font-family:unset;font-size:1.4em;line-height:1.35}/*# sourceMappingURL=guten.css.map */
