.single-autor {
    .vcard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $cinza-background;
        box-sizing: border-box;
        padding: rem(160) 5.666666vw;
        text-align: center;
        margin-bottom: rem(80);
        h1 {
            @extend %titulo-xgg-louize;
            text-transform: uppercase;
        }

        .bio {
            max-width: rem(720);
            margin: rem(20) 0;
            p {
                @extend %texto-m-louize;
            }
        }
        + h3 {
            @extend %texto-g-mono;
            text-transform: uppercase;
            text-decoration: underline;
            margin: rem(80) 5.666666vw;
        }
    }
}