.single-post, .single-criacao {
    .entry-header,
    .entry-content {
        --gap: #{rem(16)} 1.666666vw;
        gap: var(--gap);
        display: grid;
        grid-template-columns: 4vw repeat(18, minmax(0, 1fr)) 4vw;

        @media screen and (min-width: rem(800)) {
            --gap: #{rem(40)} 1.666666vw;
        }
    }
    .entry-header {
        > * {
            margin: 0;
            grid-column: 3 / -3;
            text-align: center;
        }
        .meta {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: em(-24);
            li {
                margin-bottom: em(24);
                &:not(:last-child) {
                    margin-right: rem(24);
                }
            }
            a {
                @extend %texto-m-mono;
                transition: color 100ms ease, background-color 100ms ease;
                display: inline-block;
                margin-bottom: em(24);
                &:not(:last-child) {
                    margin-right: em(24);
                }
            }
        }
    }
    .entry-content {
        margin-bottom: rem(120);
        p {
            &:not(.autoria) {
                @extend %texto-m-louize;
            }

            @each $opcao, $tamanho in $tamanhos {
                &.has-#{$opcao}-font-size {
                    @extend #{$tamanho};
                }
            }
        }

        .alignfull,
        >*:not(.card):not[class*='block'], .aligncenter, .wp-block-image:not(figure), .alignwide, > p {
            grid-column: 1 / -1;
        }

        @media screen and (min-width: rem(960)) {

            >*:not(.card):not[class*='block'],
            .aligncenter,
            .wp-block-image:not(figure),
            .alignwide {
                grid-column: 4 / -4;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'GT America', sans-serif;
            font-stretch: extra-expanded;
            margin: 0;
            &[class*='louize'] {
                font-family: 'Louize', serif;
            }
            &[class*='mono'] {
                font-family: 'GT America Mono', monospace;
            }
        }
        h1 {
            $map: (
                320px: 22px,
                1024px: 32px,
            );
            @include poly-fluid-sizing('font-size', $map);
        }

        h2 {
            $map: (
                320px: 18px,
                1024px: 24px,
            );
            @include poly-fluid-sizing('font-size', $map);
        }

        h3 {
            $map: (
                320px: 12px,
                1024px: 20px
            );
            @include poly-fluid-sizing('font-size', $map);
        }

        h4 {
            $map: (
                320px: 10px,
                1024px: 16px
            );
            @include poly-fluid-sizing('font-size', $map);
        }

        h5 {
            $map: (
                320px: 10px,
                1024px: 14px
            );
            @include poly-fluid-sizing('font-size', $map);
        }

        h6 {
            $map: (
                320px: 10px,
                1024px: 12px
            );
            @include poly-fluid-sizing('font-size', $map);
        }
        .share-links {
            margin: rem(92) 0 rem(20);
            h6 {
                @extend %texto-m-mono;
                margin-bottom: rem(24);
            }
        }
    }
    article {
        &.tag-paywall {
            .entry-content {
                >img {
                    display: block;
                    width: 100%;
                    height: auto;
                    @media screen and (min-width: em(800)) {
                        grid-column: 5 / -5;
                    }
                }
                p.resumo-paywall {
                    position: relative;
                    &::first-letter {
                        font-size: 4em;
                    }
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(to bottom, $texto, $fundo 90%);
                        mix-blend-mode: screen;
                    }
                }
            }
        }
        .conteudo-exclusivo {
            grid-column: 3 / -3;
            display: grid;
            grid-template-columns: repeat(16, minmax(0, 1fr));
            gap: rem(24) 1.666666vw;
            box-sizing: border-box;
            padding: rem(48) 0;
            background-color: $texto; 
            text-align: center;
            color: $fundo;
            a {
                color: $fundo;
                &:hover {
                    color: $principal;
                }
            }
            > * {
                grid-column: 2 / -2;
            }
        }
    }
}
.single-post {
    .entry-header {
        &:not([id*="block"]) {
            margin-bottom: rem(140);
        }

        h1,
        .meta {
            text-transform: uppercase;
        }
        .meta {
            a {
                background-color: $principal;
                color: $texto;

                &:hover {
                    background-color: $complementar;
                    color: $principal;
                }
            }
        }
    }
}
.single-criacao {
    --fundo: #{$preto};
    --texto: #{$branco};
    #masthead {
        margin-bottom: rem(80);
    }
    article {
        --gap: #{em(80)};
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
    .entry-header {

        h1 {
            text-transform: uppercase;
            @extend %titulo-gg-louize;
        }
        .meta {
            order: 10;
            a {
                background-color: $fundo;
                color: $texto;
                text-decoration: none;
                &:hover {
                    background-color: $complementar;
                    color: $fundo;
                }
            }
        }
    }
    .share-links {
        --texto: #{$preto};
    }
}