.post-type-archive-edicao {
    .page-header {
        padding: 0 5.666666vw;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: rem(180);
    }
    .edicoes {
        .alm-reveal {
            display: grid;
            box-sizing: border-box;
            padding: 0 21.875vw;
            --gap: #{rem(50)} 2vw;
            gap: var(--gap);
            margin-bottom: rem(50);
            @media screen and (min-width: em(800)) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                --gap: #{rem(100)} #{rem(180)};
                margin-bottom: rem(100);
            }
        }
    }
}

.single-edicao, .single-autor {

    .entry-content {
        --gap: #{rem(60)} 1.666666vw;
        padding: 0 5.666666vw;
        margin-bottom: rem(180);
        display: grid;
        gap: var(--gap);
        grid-template-columns: minmax(0, 1fr);
        @media screen and (min-width: em(375)) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @media screen and (min-width: em(800)) {
            --gap: #{rem(120)} 1.666666vw;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
        @media screen and (min-width: em(1024)) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
        .card {
            > a {
                padding-bottom: 66%;
            }
            .edicao.nome {
                display: none;
            }
        }
    }
}