body.archive.category {
    main {
        --gap: #{rem(40)} 1.666666vw;
        @media screen and (min-width: em(800,16)) {
            --gap: #{rem(80)} 1.666666vw;
        }
        position: relative;
        display: grid;
        margin-bottom: rem(100);
        grid-template-columns: 4vw repeat(12, minmax(0, 1fr)) 4vw;
        gap: var(--gap);
        .page-header, .listagem {
            grid-column: 2 / -2;
        }

        .destaque {
            grid-column: 1 / -1;
            .item {
                position: relative;
                width: 100%;
                height: 100vh;
                overflow: hidden;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                outline: none;
                box-sizing: border-box;
                padding: rem(80) 15vw;
                flex-direction: column;

                @media screen and (min-width: em(800, 16)) {
                    flex-direction: row;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -10;
                    object-fit: cover;
                }

                >*:not(img) {
                    position: relative;
                    z-index: 20;
                    // position: absolute;
                }

                h4 {
                    margin: rem(32);
                    background-color: $fundo;
                }

                .categoria {
                    background-color: $principal;
                    color: var(--textoPrincipal, #{$var-preto});
                    transition: color 300ms ease, background-color 300ms ease, opacity 300ms 500ms ease;

                    &:hover {
                        color: $principal;
                        background-color: $texto;
                    }
                }

                .categoria,
                h4 {
                    font-family: 'GT America Mono', monospace;
                    line-height: 1;
                    font-weight: 500;
                    padding: rem(10);
                    $map: (320px: 12px,
                            1024px: 20px);
                    @include poly-fluid-sizing('font-size', $map);
                }

                .leia-mais {
                    @extend %tag-pp-mono;
                    text-decoration: none;
                    background-color: var(--textoPrincipal, #{$var-preto});
                    color: $fundo;
                    padding: rem(11);
                    transition: color 300ms ease, background-color 300ms ease, opacity 300ms 600ms ease;

                    &:hover {
                        color: $complementar;
                        background-color: $fundo;
                    }
                }

                .categoria,
                .leia-mais {
                    opacity: 1;
                }
            }
        }

        .listagem {
            display: grid;
            gap: var(--gap);


            .newsletter {
                grid-column: 1 / -1;
                grid-row: 3;
                form {
                    position: relative;
                }
            }
        }
        &:not(.fixos) {
            .listagem {
                grid-template-columns: repeat(12, minmax(0, 1fr));
                & > {
                    .card {
                        grid-column: span 3;
                        &:nth-of-type(-n+3) {
                            grid-column: span 4;
                        }
                    }
                }
            }
        }
        &.fixos {
            .listagem {
                grid-template-columns: minmax(0, 1fr);
                @media screen and (min-width: em(360)) {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
                @media screen and (min-width: em(800)) {
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }
                @media screen and (min-width: em(1024)) {
                    grid-template-columns: repeat(4, minmax(0, 1fr));
                }
            }
        }
        .ajax-load-more-wrap {
            grid-column: 1 / -1;
        }
        .page-header {
            border-top: 1px solid $texto;
            .editoria-title {
                @extend %texto-g-mono;
                text-transform: uppercase;
                margin: rem(14) 0 0;
            }
        }
        .alm-listing {
            display: grid;
            gap: var(--gap);
            grid-template-columns: minmax(0, 1fr);
            @media screen and (min-width: em(360)) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            @media screen and (min-width: em(800)) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
            @media screen and (min-width: em(1024)) {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }
        }
    }
}