.page-template-default {
    .entry-header {
        box-sizing: border-box;
        padding: rem(160) 0;
        .entry-title {
            margin: 0;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.page-assine {
    .entry-content {
        > br, > font, > b {
            display: none;
        }
    }
}