.post-type-archive-criacao, .archive.tax-tipo, .archive.tax-secao {
    --fundo: #{$preto};
    --texto: #{$branco};
    main {
        --gap: #{rem(40)} 1.666666vw;

        @media screen and (min-width: em(800, 16)) {
            --gap: #{rem(80)} 1.666666vw;
        }
        position: relative;
        display: grid;
        grid-template-columns: 4vw minmax(0, 1fr) 4vw;
        gap: var(--gap);
        > * {
            grid-column: 2 / -2;
        }
        .page-title {
            text-align: center;
        }
        .criacoes {
            --gap: #{rem(20)} .7vw;

            @media screen and (min-width: em(800, 16)) {
                --gap: #{rem(50)} .7vw;
            }
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            gap: var(--gap);
            margin-bottom: rem(200);
            @media screen and (min-width: rem(800)) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
    }
}