.revistas, .outros-produtos {
    .alm-listing {
        --gap: #{rem(40)} 1.666666vw;

        @media screen and (min-width: em(1024, 16)) {
            --gap: #{rem(80)} 10vw;
        }
        display: grid;
        gap: var(--gap);
        grid-template-columns: minmax(0, 1fr);
        margin-bottom: rem(80);
        @media screen and (min-width: em(480)) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            ~ .alm-placeholder {
                width: calc( calc( 100% - calc( 1.666666vw * 2 ) ) / 2 );
            }
        }
        @media screen and (min-width: em(1024)) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            ~ .alm-placeholder {
                width: calc( calc( 100% - 20vw )  / 3 );
            }
        }
    }
    .alm-placeholder {
        animation: blink 2s infinite ease;
        svg {
            &, * {
                fill: $cinza-background !important;
            }
        }
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% { 
        opacity: 1;
    }
}