.single-product {
    main {
        margin-top: rem(80);
        >.product {
            --gap: #{rem(120)} 1.666666vw;

            @media screen and (min-width: em(800, 16)) {
                --gap: #{rem(200)} 1.666666vw;
            }
            position: relative;
            display: grid;
            grid-template-columns: 4vw repeat(12, minmax(0, 1fr)) 4vw;
            gap: var(--gap);
            .woocommerce {
                &-product-gallery {
                    grid-column: 2 / -2;
                    @media screen and (min-width: em(800)) {
                        grid-column: 2 / span 7;
                    }
                    &__wrapper {

                    }
                    &__image {
                        img {
                            display: block;
                            width: 100%;
                            height: auto;
                        }
                        &[style*="z-index: 1"] {
                            display: none !important;
                        }
                    }
                }
                &-tabs {
                    grid-column: 2 / -2;
                }
            }
            .entry-summary {
                display: flex;
                flex-direction: column;
                grid-column: 2 / -2;
                @media screen and (min-width: em(800)) {
                    grid-column: 9 / span 5;
                }
                @media screen and (min-width: em(1024)) {
                    grid-column: 10 / span 4;
                    display: grid;
                    grid-template-columns: repeat(4, minmax(0, 1fr));
                    grid-auto-rows: max-content;
                    column-gap: 1.666666vw;
                    > * {
                        grid-column: 1 / span 3;
                    }
                    .woocommerce-product-details__short-description {
                        grid-column-end: span 4;
                    }
                }
                .product_title, .fswp_installments_price, .variations, .woocommerce-product-details__short-description {
                    color: $texto;
                }
                .price:not(.fswp_calc) {
                    color: $complementar;
                    @extend %titulo-p-exp;
                    margin-bottom: rem(12);
                }

                .fswp_variable_installment_calculation {
                    display: none;
                }

                .product_title {
                    margin-bottom: rem(36);
                }
                .fswp_installments_price {
                    margin-bottom: rem(48);
                }

                .woocommerce-product-details__short-description {
                    margin-bottom: rem(48);
                    p {
                        @extend %texto-m-gt;
                    }
                }

                form.cart {
                    margin-bottom: rem(60);
                    [class*="add_to_cart"] {
                        text-transform: uppercase;
                    }
                }

                .variations_form {
                    display: flex;
                    flex-direction: column;
                    .variations {
                        margin-bottom: rem(24);
                        tr[class*="attribute"] {
                            display: flex;
                            flex-direction: column;
                        }
                        .label {
                            @extend %texto-m-exp;
                            margin-bottom: rem(12);
                        }
                        .value {
                            display: flex;
                            flex-wrap: wrap;
                            > div {
                                margin: 0 rem(12) rem(12) 0;
                            }
                            label {
                                cursor: pointer;
                                background-color: $fundo;
                                color: $texto;
                                display: block;
                                @extend %texto-m-gt;
                                padding: rem(8) rem(12);
                                transition: color 300ms ease, background-color 300ms ease;
                                &:hover {
                                    background-color: $cinza-background;
                                }
                            }
                            input[type="radio"] {
                                display: none;
                                &:checked ~ label {
                                    background-color: $texto;
                                    color: $fundo;
                                }
                            }
                            .reset_variations {
                                display: none;
                            }
                        }
                    }
                    .single_variation_wrap {
                        display: flex;
                        flex-direction: column;
                        .single_variation  {
                            order: 20;
                            .woocommerce-variation-description {
                                &:not(:empty) {
                                    margin: rem(24) 0 rem(32);
                                }
                                &:empty + .woocommerce-variation-price:not(:empty) {
                                    margin-top: rem(24);
                                }
                            }
                            .woocommerce-variation-price {
                                > .price {
                                    @extend %texto-m-gt;
                                }
                            }
                        }
                    }
                }
            }
            .related {
                grid-column: 1 / -1;
                margin-bottom: rem(200);
                > h2 {
                    @extend %texto-g-mono;
                    text-transform: uppercase;
                    text-decoration: underline;
                    text-align: center;
                    margin: 0 0 rem(140);
                }
                .slider-nav {
                    margin: rem(20) 0;
                    padding: 0 5.666666vw;
                }
            }
        }
    }
}