@import "../../_settings/colors";
@import "../../_tools/functions";
@import "../../_tools/mixins";
@import "../../_base/typography";

.slideshow.destaque {
    .slider-nav {
        box-sizing: border-box;
        padding: 0 3vw;
        position: absolute;
        align-self: center;
        justify-self: center;
        width: 100%;
        z-index: 20;
        justify-content: space-between;
        pointer-events: none;
        > * {
            pointer-events: all;
        }
        svg {
            height: rem(28);
            width: auto;
            &, * {
                fill: $fundo;
            }
        }
    }
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    .tns-slider {
        transition-timing-function: cubic-bezier(.68,.05,.34,.94);
    }
    .slider-imagem {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .item {
            position: relative;
            height: 100vh;
            overflow: hidden;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            outline: none;
            box-sizing: border-box;
            padding: rem(80) 15vw;
            flex-direction: column;
            @media screen and (min-width: em(800, 16)) {
                flex-direction: row;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -10;
                object-fit: cover;
            }
            > *:not(img) {
                position: relative;
                z-index: 20;
                // position: absolute;
            }

            > picture {
                width: 100%;
                height: 100%;
                position: absolute;
            }

            h4 {
                margin: rem(32);
                background-color: $fundo;
            }

            .categoria {
                background-color: $principal;
                color: var(--textoPrincipal, #{$var-preto});
                transition: color 300ms ease, background-color 300ms ease, opacity 300ms 500ms ease;
                &:hover {
                    color: $principal;
                    background-color: $texto;
                }
            }

            .categoria,
            h4 {
                font-family: 'GT America Mono', monospace;
                line-height: 1;
                font-weight: 500;
                padding: rem(10);
                $map: (320px: 12px,
                        1024px: 20px);
                @include poly-fluid-sizing('font-size', $map);
            }

            .leia-mais {
                @extend %tag-pp-mono;
                text-decoration: none;
                background-color: var(--textoPrincipal, #{$var-preto});
                color: $fundo;
                padding: rem(11);
                transition: color 300ms ease, background-color 300ms ease, opacity 300ms 600ms ease;

                &:hover {
                    color: $complementar;
                    background-color: $fundo;
                }
            }

            .categoria,
            .leia-mais {
                opacity: 1;
            }

            &[aria-hidden='true'] {
                pointer-events: none;

                .categoria,
                .leia-mais {
                    opacity: 0;
                }

                .categoria {
                    transition: color 300ms ease, background-color 300ms ease, opacity 300ms 400ms ease;
                }

                .leia-mais {
                    transition: color 300ms ease, background-color 300ms ease, opacity 300ms 300ms ease;
                }
            }
        }
    }
}