@import "../../_settings/colors";
@import "../../_tools/functions";
@import "../../_tools/mixins";
@import "../../_base/typography";

.slideshow.imagens {
    grid-column: 1 / -1;
    background-color: var(--fundoSlider);
    margin-bottom: rem(160);
    &:not(:first-child) {
        margin-top: rem(160);
    }
    &:nth-last-child(2) {
        margin-bottom: 0;
    }
    .slick-slider {
        overflow: hidden;
        padding: rem(120) 0;
    }
    .slick-track {
        display: flex;
        align-items: center;
    }
    .foto {
        margin: 0 10vw;
        position: relative;
        transition: opacity 300ms ease;
        outline: none;
        img {
            width: 100%;
            height: 100%;
            @media screen and (min-width: em(800)) {
                height: auto;
                width: auto;
            }
            max-width: rem(700);
            max-height: rem(700);
            opacity: 1;
            margin: 0 auto;
            transform: scale(1);
            box-shadow: 0 rem(10) rem(40) rgba($var-preto, .10);
            transform-origin: center;
            transition: opacity 300ms 700ms ease, box-shadow 420ms 600ms ease, transform 420ms 450ms ease;
        }

        .prev, .next {
            position: absolute;
            top: 50%;
            z-index: 10;
            display: block;
            opacity: 1;
            svg {
                &, * {
                    fill: $texto !important;
                }
            }
            @media screen and (any-hover: none) {
                display: none;
            }
        }

        .prev {
            left: rem(-145);
            transform: translate(-50%, -50%);
            transition: opacity 300ms 600ms ease;
        }

        .next {
            right: rem(-145);
            transform: translate(50%, -50%) rotate(180deg);
            transition: opacity 300ms 800ms ease;
        }
        &:not(.slick-active) {
            pointer-events: none;
            img {
                transform: scale(.99);
                box-shadow: 0 rem(2) rem(8) rgba($var-preto, .025);
                opacity: 0.2;
                transition: opacity 300ms 300ms ease, box-shadow 420ms 200ms ease, transform 420ms 50ms ease;
            }
            .prev, .next {
                opacity: 0;
                transition: opacity 300ms 0ms ease;
            }
        }
    }
}