input {
    &[type="email"],
    &[type="number"],
    &[type="password"],
    &[type="text"],
    &[type="tel"] {
        background-color: $fundo;
        color: $texto;
        box-sizing: border-box;
        @extend %texto-m-gt;
        line-height: 1;
        border: 0;
        box-shadow: inset 0 0 0 1px $texto;
        border-radius: 0;
        padding: rem(12);
        width: 100%;
        outline: none;
        transition: box-shadow 300ms ease;
        &:focus {
            box-shadow: inset 0 0 0 2px $complementar;
        }
        form.checkout & {
            box-shadow: inset 0 -1px 0 0 $texto;
            padding: rem(12) 0;
            background-color: transparent;
        }
        .woocommerce-invalid & {
            box-shadow: inset 0 -2px 0 0 $vermelho !important;
        }
        .woocommerce-validated & {
            box-shadow: inset 0 -2px 0 0 $var-proxima-edicao !important;
        }
    }
    &[type="number"] {
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
    }
}

.mc4wp-form-fields {
    position: relative;
}