#patrocinado, .onsale {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    font-family: 'GT America Mono', monospace;
    font-weight: 700;
    font-size: 8px;
    text-transform: uppercase;
    display: flex;
    width: rem(128);
    height: rem(128);
    padding: rem(12);
    border-radius: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    color: $textoPrincipal;
    background-color: $principal;
    transform-origin: center;
    transform: translate(-50%, -50%);
    cursor: pointer;
    &:before, &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        content: '';
    }
    &:before {
        z-index: -20;
        background-color: $texto;
        opacity: 0.05;
        transform: translateY(#{rem(5)});
        filter: blur(#{rem(5)});
    }
    &:after {
        z-index: -10;
        background-color: $principal;
        opacity: 0.15;
        transform: translateY(#{rem(20)});
        filter: blur(#{rem(60)});
    }
    .alignfull > & {
        transform: translate(5.666666vw, -50%);
    }
}



.price:not(.fswp_calc), .preco {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    del {
        font-size: .8em;
        margin-right: rem(12);
        color: $cinza;
    }
    ins {
        text-decoration: none;
        font-weight: 700;
    }
}

.out-of-stock {
    @extend %titulo-pp-exp;
    color: $vermelho !important;
    filter: saturate(.75);
}

.woocommerce-message,
.woocommerce-notices-wrapper {
    @extend %texto-m-exp;
}

.woocommerce-message,
.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup,
.woocommerce-form-coupon-toggle,
.woocommerce-form-login-toggle,
.woocommerce-form-login-toggle + .woocommerce-form.woocommerce-form-login, .cart-empty.woocommerce-info {
    grid-column: 2 / -2;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &:only-child {
        padding: rem(20) rem(32);
    }
    &[role="alert"] {
        background-color: $principal;
        color: $texto;
        a {
            color: $texto;
        }
    }
    > {
        *:not(a) {
            padding: rem(20) rem(32) !important;
        }
        a {
            display: block;
            margin: 0 0 1em;
        }
    }
    .woocommerce-info {
        background-color: $complementar;
        color: $fundo;
        a {
            color: $fundo;
        }
    }
    .woocommerce-error {
        background-color: $vermelho;
        color: $texto;
    }
    &:empty {
        display: none;
    }
     + ul[class*="woocommerce-"] {
        grid-column: 2 / -2;
        margin: 0;
        list-style: none;
        padding: rem(20) rem(32);
     }
}

.woocommerce-terms-and-conditions-wrapper {
    @extend %texto-m-gt;
    a {
        color: $texto;
    }
    margin-bottom: rem(40);
}