.autoria {
    @extend %texto-p-mono;
    a {
        text-decoration: none;
        &:after {
            pointer-events: none;
            text-decoration: none;
            display: inline-block;
        }
        &:not(:last-of-type):not(:nth-last-of-type(2)) {
            &:after {
                content: ',';
            }
        }
        &:nth-last-of-type(2) {
            &:after {
                pointer-events: none;
                content: 'e';
                margin-left: .5em;
            }
        }
        &:hover {
            text-decoration: underline;
        }
    }
    .single-post &, .single-criacao & {
        @extend %texto-m-mono;
        a {
            color: $texto;
        }
    }
}

.links {
    display: flex;
    align-items: center;
    list-style: none;
    li {
        margin: 0 rem(12);
    }
    a {
        @extend %texto-pp-mono;
        background-color: $principal;
        color: var(--textoPrincipal, #{$var-preto});
        transition: color 300ms ease,
        background-color 300ms ease,
        opacity 300ms 500ms ease;
        padding: rem(4) rem(8);

        &:hover {
            color: $principal;
            background-color: $texto;
        }
    }
}

body {
    &:not(.logged-in) {
        .logado {
            display: none;
        }
    }
    &.logged-in {
        .nao-logado {
            display: none;
        }
    }
}

.edit-link {
    position: relative;
    z-index: 100;
    display: table;
    text-align: center;
    margin: rem(160) auto;
    @extend %titulo-gg-exp;
    &:before, &:after {
        color: $texto;
        position: absolute;
        pointer-events: none;
    }
    a {
        color: $texto;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 1em;
        position: relative;
        &:before {
            content: '';
            position: fixed;
            top: -100vh;
            left: 0;
            height: 300vh;
            width: 100%;
            background-color: $cinza-background;
            display: none;
            pointer-events: none;
            z-index: -1;
        }
        &:hover {
            color: $cinza;
            &:before {
                display: block;
            }
        }
    }
    &:hover {
        &:before, &:after {
            color: $cinza;
        }
        a:before {
            display: block;
        }
    }
}

.skip-link {
    display: none;
}

a {
    .entry-content & {
        color: $texto;
        &:hover {
            color: $principal;
        }
    }
}