.share-links {
    grid-column: 5 / -5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @extend %texto-p-mono;
    text-transform: uppercase;
    h6 {
        color: $textoPrincipal;
        background-color: $principal;
        padding: rem(4) rem(8);
        font-weight: normal;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        a {
            color: $texto;
            &:hover {
                color: $complementar;
            }
        }
        > * + * {
            margin-left: rem(24);
        }
    }
}

.wc_payment_methods {
    margin: 0 0 rem(24);
    padding: 0;
    list-style: none;
    > li {
        > label {
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            img {
                display: unset;
                margin-left: .5em;
            }
            &:not(:last-child) {
                margin-bottom: rem(16);
            }
            + * {
                font-size: .8em;
            }
        }
    }
}