$var-amarello: #d4ff29; 
$var-preto: #1b1b19;
$var-vermelho: #ff5656;
$var-cinza: #979a8f;
$var-azul: #293fff;
$var-branco: #ffffff;
$var-amarello-dark-mode: #a6c431;
$var-cinza-background: #f9f9f9;
$var-proxima-edicao: #1a5632;

:root {
    --vermelho: #{$var-vermelho};
    --cinza: #{$var-cinza};
    --amarello-dark-mode: #{$var-amarello-dark-mode};
    --cinza-background: #{$var-cinza-background};
    --proxima-edicao: #{$var-proxima-edicao};
}

$principal: var(--principal, #{$var-amarello});
$preto: var(--preto, #{$var-preto});
$vermelho: var(--vermelho, #{$var-vermelho});
$cinza: var(--cinza, #{$var-cinza});
$complementar: var(--complementar, #{$var-azul});
$branco: var(--branco, #{$var-branco});
$amarello-dark-mode: var(--amarello-dark-mode, #{$var-amarello-dark-mode});
$cinza-background: var(--cinza-background, #{$var-cinza-background});
$proxima-edicao: var(--proxima-edicao, #{$var-proxima-edicao});
$textoPrincipal: var(--textoPrincipal, #{$var-preto});
$textoComplementar: var(--textoComplementar, #{$var-branco});
$texto: var(--texto, #{$var-preto});
$fundo: var(--fundo, #{$var-branco});

$cores: (
    principal: var(--principal, #{$var-amarello}),
    preto: var(--preto, #{$var-preto}),
    vermelho: var(--vermelho, #{$var-vermelho}),
    cinza: var(--cinza, #{$var-cinza}),
    complementar: var(--complementar, #{$var-azul}),
    branco: var(--branco, #{$var-branco}),
    amarello-dark-mode: var(--amarello-dark-mode, #{$var-amarello-dark-mode}),
    cinza-background: var(--cinza-background, #{$var-cinza-background}),
    proxima-edicao: var(--proxima-edicao, #{$var-proxima-edicao})
);

@each $tema, $cor in $cores {
  .has-#{$tema}-color {
      color: $cor;
      a {
          color: $cor;
      }
  }
}