.page-busca {
    .search-filter-results {
        grid-column: 2 / -2;
        &-list, .resultados {
            --gap: #{rem(60)} 1.666666vw;
            margin-bottom: rem(180);
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            gap: var(--gap);
            
            @media screen and (min-width: em(375)) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            
            @media screen and (min-width: em(800)) {
                --gap: #{rem(120)} 1.666666vw;
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            @media screen and (min-width: em(1024)) {
                grid-template-columns: repeat(4, minmax(0, 1fr));
            }

        }
    }
}