.destaque-fixo {
    --gap: #{em(16)};

    @media screen and (min-width: em(800, 16)) {
        --gap: #{em(24)};
    }

    grid-column: 1 / -1;
    display: grid;
    gap: var(--gap);
    grid-template-columns: minmax(0, 1fr);
    position: relative;

    @media screen and (min-width: em(800, 16)) {
        grid-column: 2 / -2;
        grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
    }

    @media screen and (min-width: em(1280, 16)) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .tns-outer {
        grid-column: 1;
        grid-row: 1;
        position: relative;
        align-self: start;

        @media screen and (min-width: em(800, 16)) {
            position: sticky;
            top: rem(24);
        }
    }

    [data-action="stop"] {
        display: none;
    }

    .tns-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 1.8vw;

        button {
            // pointer-events: all;
            padding: 0;
            margin: 0 .45vw;
            border: 0;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: $fundo;
            transition: background-color 300ms ease;

            &.tns-nav-active {
                background-color: $principal;
            }

            &:hover {
                background-color: $complementar;
            }
        }
    }

    .listagem {
        gap: var(--gap);
        display: grid;
        grid-template-columns: minmax(0, 1fr);

        @media screen and (min-width: em(320, 16)) and (max-width: em(800, 16)) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media screen and (min-width: em(1280, 16)) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        >div {
            gap: var(--gap);
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            grid-auto-rows: max-content;
        }
    }
}

[class*='block'] {
    position: relative;
    &.newsletter {
        --gap: #{rem(100)};
        grid-column: 2 / -2;
        border: 1px solid $texto;
        box-sizing: border-box;
        padding: rem(60) rem(140);
        display: grid;
        gap: var(--gap);
        grid-template-columns: minmax(0, 5fr) minmax(0, 7fr);
        align-items: center;
        @media screen and (max-width: em(1024, 16)) {
            --gap: #{rem(40)};
            padding: rem(40);
            gap: var(--gap);
            > * {
                grid-column: 1 / -1;
            }
        }
        p {
            @extend %texto-m-mono;
        }
        form {
            position: relative;
            width: 100%;
        }
        .wp-block-column {
            margin: 0;
        }
    }
    &.wp-block-group__inner-container, &.wp-block-column {
        display: flex;
        flex-direction: column;
        > *:not(:last-child) {
            margin-bottom: rem(48);
        }
    }

    &.wp-block-quote {
        margin: 0;
        padding: rem(48) rem(48) rem(48) 0;
        p {
            border-left: 2px solid $vermelho;
            padding-left: rem(30);
            quotes: "“" "”" "‘" "’";
            &:before {
                content: open-quote; }
            &:after {
                content: close-quote;
            }
            @extend %titulo-m-exp;
            font-weight: 700;
            font-style: normal;
        }
    }
    .blocks-gallery-grid {
        width: 100%;
        margin-bottom: -1em;
    }
}

.loop {

    overflow: hidden;
    
    &.lista, &.quatro, &.tres, &.related-posts {
        grid-column: 1 / -1;
        display: grid;
        gap: rem(12) 1.666666vw;
        grid-template-columns: 4vw repeat(2, minmax(0, 1fr)) 4vw;
        .tns-inner {
            margin: 0 4vw 0 5.666666vw !important;
        }
        .card {
            opacity: 1;
            transition: opacity 300ms 150ms ease;
            &[aria-hidden='true'] {
                opacity: .10;
                transition: opacity 300ms 200ms ease;
            }
        }
    }
    
    .slider {
        .card {
            padding-right: 1.666666vw;
        }
    }

    .slider, .tns-outer {
        grid-column: 1 / -1;
    }

    .slider-nav {
        grid-column: 3;
    }

    &.quatro, &.lista, &.related-posts {
        .slider-nav {
            grid-row: 2;
        }
    }
    &.tres {
        .slider-nav {
            grid-row: 1;
        }
    }

    > .titulo {
        align-self: center;
        grid-column: 2;
        grid-row: 2;
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
        color: $texto;
        font-family: 'GT America Mono', monospace;
        line-height: 1; 
        $map: (
            320px: 12px, 
            1024px: 20px
        );
        @include poly-fluid-sizing('font-size', $map);
        a {
            color: $texto;
        }
    }

    hr {
        grid-column: 2 / -2;
        grid-row: 1;
        height: 1px;
        + .tns-outer {
            margin-top: rem(12);
        }
    }

}

.wc-block-grid {
    &__products {
        display: grid !important;
        --gap: #{rem(140)} 13.888888vw;
        @media screen and (min-width: em(800, 16))
        {
            --gap: #{rem(140)} 13.888888vw;
        }
        gap: var(--gap);
        align-items: center;
        margin: 0 !important;
        width: 100%;
    }
    &__product {
        width: 100% !important;
        border: 0 !important;
        max-width: unset !important;
        justify-self: center;
        align-self: start;
        &-image {
            img {
                width: 100%;
                height: auto;
                box-shadow: 0 rem(2) rem(6) rgba($var-preto, .025);
                transition: box-shadow 300ms ease;
            }
        }
        &-link {
            text-align: left;
            color: $textoPrincipal;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                .wc-block-grid__product-image {
                    img {
                        box-shadow: 0 rem(7.5) rem(25) rgba($var-preto, .075);
                    }
                }
            }
        }
        &-title {
            margin: rem(50) 0 rem(30) !important;
            &, * {
                @extend %texto-m-exp;
            }
        }
        &-price {
            padding: rem(30);
            @extend %texto-m-gt;
            color: $principal;
            background-color: $textoPrincipal;
            margin: 0 !important; 
            justify-content: center;
        }
        &-add-to-cart {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 !important;
            a {
                display: block;
                width: 100%;
                padding: rem(48);
                color: $textoPrincipal;
                @extend %texto-p-mono;
                border-radius: 0 !important;
                box-shadow: inset 0 0 0 2px $textoPrincipal;
                background-color: $fundo;
                transition: background-color 300ms 0ms ease, color 300ms 0ms ease, box-shadow 300ms 120ms ease-in;
                &:hover {
                    background-color: $principal;
                    color: $textoPrincipal;
                    box-shadow: inset 0 0 0 0 $textoPrincipal;
                    transition: background-color 300ms 120ms ease, color 300ms 120ms ease, box-shadow 300ms 0ms ease-out;
                }
            }
        }
        &.product_cat-assinatura {
            .wc-block-grid__product-add-to-cart {
                // display: none;
                a {
                    font-size: 0;
                    padding: 0;
                    box-shadow: none;

                    &:after {
                        margin: 0;
                        content: 'Assinar';
                        display: block;
                        width: 100%;
                        padding: rem(48);
                        box-sizing: border-box;
                        color: $textoPrincipal;
                        @extend %texto-p-mono;
                        border-radius: 0 !important;
                        box-shadow: inset 0 0 0 2px $textoPrincipal;
                        background-color: $fundo;
                        transition: background-color 300ms 0ms ease,
                            color 300ms 0ms ease,
                            box-shadow 300ms 120ms ease-in;

                    }

                    &:hover {
                        &:after {
                            background-color: $principal;
                            color: $textoPrincipal;
                            box-shadow: inset 0 0 0 0 $textoPrincipal;
                            transition: background-color 300ms 120ms ease, color 300ms 120ms ease, box-shadow 300ms 0ms ease-out;
                        }
                    }
                }
            }
        }
    }
    &:not(.assinaturas) {
        .wc-block-grid__product-add-to-cart {
            display: none;
        }
    }
    &.assinaturas {
        grid-column: 2 / -2;
        @media screen and (min-width: rem(960)) {
            grid-column: 4 / -4;
        }
        .wc-block-grid__product-price {
        }

        .wc-block-grid__product-add-to-cart {

            // display: none;
            a {
                font-size: 0;
                padding: 0;
                box-shadow: none;

                &:after {
                    margin: 0;
                    content: 'Assinar';
                    display: block;
                    width: 100%;
                    padding: rem(48);
                    box-sizing: border-box;
                    color: $textoPrincipal;
                    @extend %texto-p-mono;
                    border-radius: 0 !important;
                    box-shadow: inset 0 0 0 2px $textoPrincipal;
                    background-color: $fundo;
                    transition: background-color 300ms 0ms ease,
                        color 300ms 0ms ease,
                        box-shadow 300ms 120ms ease-in;

                }

                &:hover {
                    &:after {
                        background-color: $principal;
                        color: $textoPrincipal;
                        box-shadow: inset 0 0 0 0 $textoPrincipal;
                        transition: background-color 300ms 120ms ease, color 300ms 120ms ease, box-shadow 300ms 0ms ease-out;
                    }
                }
            }
        }
    }
    @for $i from 1 through 6 {
        &.has-#{$i}-columns {
            .wc-block-grid__products {
                grid-template-columns: minmax(0, 1fr);
                @media screen and (min-width: em(800)) {
                    grid-template-columns: repeat($i, minmax(0, 1fr));
                }
            }
        }
    }
}

.outdoor {
    display: grid;
    @media screen and (min-width: em(800)) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    background-color: $principal;

    .post-thumbnail {
        height: 0;
        padding-bottom: 100%;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: rem(48) 5.666666vw;

        @media screen and (min-width: em(800)) {
            padding: rem(100) 5.666666vw rem(48);
        }

        * {
            color: $texto;
        }

        .entry-title {
            text-transform: uppercase;
            margin: rem(40) 0 rem(60);
            a {
                text-decoration: none;
            }
        }

        .button {
            @extend %texto-p-mono;
            text-decoration: none;
            padding: rem(14) rem(40);
            border: 1px solid $texto;
            background-color: rgba($var-preto, 0);
            transition: color 200ms ease, background-color 200ms ease;

            &:hover {
                color: $principal;
                background-color: $texto;
            }
        }
    }

    &+h3 {
        padding: 0 5.666666vw;
        @extend %texto-g-mono;
        margin: rem(80) 0;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.destaques .wc-block-grid__products {
    display: grid;
    gap: 0;

    @media screen and (min-width: em(800)) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .wc-block-grid__product {
        height: 50vw;
        display: grid;
        grid-template-rows: minmax(0, 8fr) repeat(2, minmax(0, 1fr));
        > * {
            grid-column: 1;
        }
        .price {
            grid-row: 2;
            z-index: 10;
        }
        >a {
            grid-row: 1 / 4;
            height: 100%;
            &[href*="/revista/"] {
                background-color: $principal;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: rem(48) 5.666666vw;

                @media screen and (min-width: em(800)) {
                    padding: rem(100) 5.666666vw rem(48);
                }

                * {
                    color: $texto;
                }

                [class*="title"] {
                    text-transform: uppercase;
                    margin: rem(40) 0 rem(60) !important;
                    @extend %titulo-gg-exp;

                    &:after {
                        margin: rem(60) 0 0;
                        content: 'Comprar';
                        display: inline-block;
                        @extend %texto-p-mono;
                        text-decoration: none;
                        padding: rem(14) rem(40);
                        border: 1px solid $texto;
                        background-color: rgba($var-preto, 0);
                        transition: color 200ms ease,
                            background-color 200ms ease;

                    }

                    &:hover {
                        &:after {
                            color: $principal;
                            background-color: $texto;
                        }
                    }
                }

                .button {
                    @extend %texto-p-mono;
                    text-decoration: none;
                    padding: rem(14) rem(40);
                    border: 1px solid $texto;
                    background-color: rgba($var-preto, 0);
                    transition: color 200ms ease, background-color 200ms ease;

                    &:hover {
                        color: $principal;
                        background-color: $texto;
                    }
                }

                .wc-block-grid__product-image {
                    display: none;
                }

                +.price {
                    display: none;
                }

                * {
                    color: $texto;
                }
            }
            &:not([href*="/revista/"]) {
                position: relative;
                height: 50vw;
                display: grid;
                grid-template-rows: minmax(0, 8fr) repeat(2, minmax(0, 1fr));
                .wc-block-grid__product-image {
                    position: absolute;
                    z-index: -10;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                [class*="title"] {
                    grid-row: 1;
                    align-self: end;
                    @extend %titulo-p-louize;
                    text-align: center;
                    margin: 0;
                }
            }
            + .price {
                background-color: unset;
                @extend %texto-g-gt;
                color: $texto;
                padding: 0;
                align-self: center;
                justify-self: center;
            }
        }
    }
}

.banca-feira {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(min-content, 50vh));
    .wp-block-column {
        margin: 0;
        transition: background-color 300ms ease;
        &:hover {
            background-color: $complementar;
            * {
                color: $branco !important;
            }
        }
    }
    .banca, .feira {
        .wp-block-group {
            &__inner-container {
                height: 100%;
                justify-content: center;
            }
        }
    }
    * {
        transition: color 300ms ease, box-shadow 300ms ease;
    }
    a {
        color: inherit !important;
    }

    h2 {
        box-shadow: 0 .0625em 0 transparent;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    body.page-feira & .feira,
    body.page-revistas & .banca {
        pointer-events: none;
    }
    body.page-feira & .banca,
    body.page-revistas & .feira {

        h2 {
            color: $cinza;
        }
        p {
            color: $cinza;
            opacity: 0.75;
        }
        &:hover {
            h2 {
                box-shadow: 0 .125em 0 $fundo;
            }
            p {
                opacity: 1;
            }
        }
    }
}

.wp-block[data-align=left],
.wp-block[data-align=right] {
    height: unset !important;
}

.cidade {
    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 2em;
    }
    .wp-block-columns {
        gap: rem(48);
    }
    .wp-block-column {
        &:nth-child(2n), &:not(:first-child) {
            margin-left: 0;
        }
        &:empty {
            display: none;
        }
    }
    p {
        font-size: 1rem !important;
    }
}