#colophon {
    --fundo: #{$preto};
    --texto: #{$branco};
    --gap: #{rem(20)} 1.666666vw;
    background-color: $fundo;
    color: $texto;
    box-sizing: border-box;
    padding: rem(36) 0;
    display: grid;
    grid-template-columns: 4vw minmax(0, 1fr) 4vw;
    gap: var(--gap);
    @media screen and (min-width: em(1024)) {
    --gap: #{rem(80)} 1.666666vw;
        grid-template-columns: 4vw repeat(16, minmax(0, 1fr)) 4vw;
    }
    a {
        color: $texto;
        text-decoration: none;
        &:hover {
            color: $principal;
        }
    }
    > * {
        grid-column: 2;
    }
    #paginas {
        @media screen and (min-width: em(1024)) {
            grid-column: 2 / span 2;
        }
    }
    #redes-sociais {
        @media screen and (min-width: em(1024)) {
            grid-column: span 2;
        }
    }
    #editorias {
        @media screen and (min-width: em(1024)) {
            grid-column: 10 / span 6;
        }
        display: grid;
        gap: 0 1.666666vw;
        grid-template-columns: repeat(3, minmax(0, 1fr));

    }
    #visita {
        a {
            text-decoration: underline;
        }
        @media screen and (min-width: em(1024)) {
            text-align: right;
            grid-column: span 2;
        }
    }
    .disclaimer {
        @media screen and (min-width: em(1024)) {
            grid-column: span 3;
        }
        @extend %texto-m-gt;
        padding-right: rem(36);
    }
    .busca, .newsletter {
        @media screen and (min-width: em(1024)) {
            grid-column-end: span 8;
        }
    }

    .newsletter {
        --principal: $fundo;
        @media screen and (min-width: em(1024)) {
            grid-column-start: 2;
        }
    }
    .busca {
        .widget-title {
            display: none;
        }
        li {
            padding: 0;
            label {
                width: 100%;
            }
        }
    }
}