.entry-content {
  position: relative;
  display: grid;
  grid-template-columns: 4vw repeat(12, minmax(0, 1fr)) 4vw;
  --gap: #{rem(40)} 1.666666vw;
  gap: var(--gap);
  
  > {
    *:not(.card):not[class*='block'] {
      grid-column: 2 / -2;
    }
    
    .alignfull {
      grid-column: 1 / -1;
    }
  }
  @media screen and (min-width: rem(960)) {
    --gap: #{rem(80)} 1.666666vw;
    >*:not(.card):not[class*='block'] {
      grid-column: 4 / -4;
    }

    .aligncenter,
    >.wp-block-image,
    .wp-block-separator {
      grid-column: 6 / -6;
    }

    .alignwide {
      grid-column: 2 / -2;
    }

    .alignfull {
      grid-column: 1 / -1;
    }
  }

  .single-post &,
  .single-criacao &, .page-template-default:not(.woocommerce-page):not(.home) & {
    --gap: #{rem(16)} 1.666666vw;

    >*:not(.alignfull):not(p):not([class*='align']):not([class*='group']):not(figure):not(.wp-post-image) {
      grid-column: 2 / -2;
    }
    >figure {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1em;
    }
    >figure:not([class*='align']) {
      grid-column: 1 / -1;
      img {
        width: auto;
        height: auto;
      }
    }
    >.wp-block-image:not(.alignfull):not(p):not([class*='align']):not([class*='group']):not(figure):not(.wp-post-image) {
      grid-column: 1 / -1;
      .alignleft {
        margin: 0 5.666666vw 0 0;
      }
      .alignright {
        margin: 0 0 0 5.666666vw;
      }
    }

    @media screen and (max-width: rem(960)) {
      > * {
        &:not([class*='alignfull']) {
          grid-column: 2 / -2;
        }
        &[class*='alignfull'] {
          grid-column: 1 / -1;
        }
      }
    }
    @media screen and (min-width: rem(960)) {
    --gap: #{rem(24)} 1.666666vw;
      >{
        p, h1, h2, h3, h4, h5, h6, .wp-block-group:not([class*='align']), .wp-block-columns:not(.alignwide):not(.alignfull) {
          grid-column: 6 / -6;
        }
        .alignwide {
          grid-column: 3 / -3;
        }
      }

      >*:not(.card):not[class*='block'] {
        grid-column: 4 / -4;
      }

      .aligncenter,
      >.wp-block-image,
      .wp-block-separator {
        grid-column: 6 / -6;
      }

      .alignwide {
        grid-column: 2 / -2;
      }

      .alignfull {
        grid-column: 1 / -1;
      }
    }
  }
}