#masthead {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    padding: rem(30) 5.666666vw rem(60);
    display: grid;
    gap: .75vw 1.5vw;
    pointer-events: none;
    grid-template-areas: "logo button";
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
    body:not(.home) & + * {
        margin-top: 8.5em;
    }
    @media screen and (min-width: em(800)) {
        body:not(.home) & + * {
            margin-top: unset;
        }
        position: sticky;
        grid-template-areas: ". . . ."
                            ". logo logo .";
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: minmax(0, 1fr) minmax(0, 4fr);
    }
    body:not(.single-edicao):not(.archive.category) & {
        // margin-bottom: rem(120);
    }
    > * {
        pointer-events: auto;
        align-self: start;
    }
    svg:not(.menu-icon) {
        fill: $texto;
        width: unset;
    }
    .site-branding {
        grid-area: logo;
        display: flex;
        align-items: center;
        align-self: center;
        svg {
            width: auto;
            height: 100%;
            max-height: 72px;
            max-width: 100%;
        }
        @media screen and (min-width: em(800)) {
            justify-content: center;
            justify-self: center;
            svg {
                width: unset;
                height: unset;
            }
        }
        a {
            display: block;
            position: relative;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
            }
        }
    }
    #editorias {
        grid-area: editorias;
        justify-self: start;
    }
    #paginas {
        grid-area: paginas;
        justify-self: end;
    }
    .topo {
        grid-area: topo;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        justify-self: center;
    }
    .searchandfilter {
        li {
            padding: 0;
        }
    }
    .busca {
        position: relative;
        .widget-title {
            margin: 0;
            font-weight: 500;
            text-transform: uppercase;
            @extend %texto-pp-exp;
            color: $texto;
            cursor: pointer;
            font-weight: 900;
            &:hover {
                color: $principal;
            }
        }
    }
    .show-footer {
        display: none;
    }

    >nav {
        grid-column: 1 / -1;
        grid-row: 1 / span 2;
        pointer-events: none;

        @media screen and (max-width: em(800)) {
            position: fixed;
            top: 0;
            right: 0;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -10;
                background-color: $texto;
                opacity: 0;
                transition: opacity 300ms ease;
            }
            body.open-menu & {
                pointer-events: all;
                &:after {
                    opacity: 0.3;
                }
            }
            .wrapper {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                max-width: 70vw;
                background-color: $texto;
                box-sizing: border-box;
                padding: rem(96,10) rem(24,10);
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                transform: translateX(100%);
                transition: transform 300ms ease;
                body.open-menu & {
                    transform: translateX(0);
                }
                > * {
                    align-self: flex-start;
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
                .menu {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
                .busca .widget-title, a {
                    color: $fundo;
                    font-family: 'GT America',
                        sans-serif;
                    font-size: rem(14, 10) !important;
                    font-stretch: normal !important;
                    text-transform: uppercase;
                    font-weight: 500 !important;
                    text-decoration: underline;
                    line-height: 2.5 !important;
                    &:hover {
                        color: $principal;
                    }
                }
            }
        }

        @media screen and (min-width: em(800)) {
            .wrapper {
                display: grid;
                grid-template-areas: ". topo topo ."
                    "editorias . . paginas";
                grid-template-columns: repeat(4, minmax(0, 1fr));
                grid-template-rows: minmax(0, 1fr) minmax(0, 4fr);
                gap: .75vw 1.5vw;
                pointer-events: none;
                .menu li, .topo a, .topo .widget-title {
                    pointer-events: auto;
                }
            }
        }
    }
}

[class*="header"]:not(th) {
  .hide-title & {
      display: none;
  }
  a {
      color: $texto;
      &:hover {
          color: $principal;
      }
  }
}