@import "../../_settings/colors",
"../../_tools/functions",
"../../_tools/mixins",
"../../_base/typography";

$var-amarello: #d4ff29;
$var-preto: #1b1b19;
$var-vermelho: #ff5656;
$var-cinza: #979a8f;
$var-azul: #293fff;
$var-branco: #ffffff;
$var-amarello-dark-mode: #a6c431;
$var-cinza-background: #f9f9f9;
$var-proxima-edicao: #1a5632;

$principal: var(--principal, #{$var-amarello});
$texto: var(--preto, #{$var-preto});
$vermelho: var(--vermelho, #{$var-vermelho});
$cinza: var(--cinza, #{$var-cinza});
$complementar: var(--complementar, #{$var-azul});
$fundo: var(--branco, #{$var-branco});
$amarello-dark-mode: var(--amarello-dark-mode, #{$var-amarello-dark-mode});
$cinza-background: var(--cinza-background, #{$var-cinza-background});
$proxima-edicao: var(--proxima-edicao, #{$var-proxima-edicao});
$textoPrincipal: var(--textoPrincipal, #{$var-preto});
$textoComplementar: var(--textoComplementar, #{$var-branco});
$texto: var(--texto, #{$var-preto});
$fundo: var(--fundo, #{$var-branco});

.marquee {
    margin: rem(120) 0;
    overflow: hidden;
    padding: rem(36) 0;
    position: relative;
    p {
        @extend %titulo-gg-exp;
        font-weight: 700;
        display: inline-block;
        white-space: nowrap;
        text-transform: uppercase;
        color: $texto;
        width: calc(var(--width) + .35em);
        text-shadow: calc(var(--width) + .35em) 0 currentColor, 
                    calc(calc(var(--width) + .35em) * 2) 0 currentColor, 
                    calc(calc(var(--width) + .35em) * 3) 0 currentColor,
                    calc(calc(var(--width) + .35em) * 4) 0 currentColor;

        will-change: transform;
        animation: marquee var(--tempo) linear infinite;
        @media (prefers-reduced-motion: reduce) {
            animation: none;
            text-shadow: none;
            width: auto;
            display: block;
            line-height: 1.5;
            text-align: center;
            white-space: normal;
        }
    }
    &:before, &:after {
        width: calc(100% - calc(8vw + #{rem(48)}));
        content: '';
        height: 1px;
        background-color: $texto;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

div.marquee {
    pointer-events: none;
}