/// poly-fluid-sizing
/// Generate linear interpolated size values through multiple break points
/// @param $property - A string CSS property name
/// @param $map - A SASS map of viewport unit and size value pairs
/// @requires function linear-interpolation
/// @requires function map-sort
/// @example
///   @include poly-fluid-sizing('font-size', (576px: 22px, 768px: 24px, 992px: 34px));
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@mixin poly-fluid-sizing($property, $map) {
    // Get the number of provided breakpoints
    $length: length(map-keys($map));
    // Error if the number of breakpoints is < 2
    @if ($length < 2) {
        @error "poly-fluid-sizing() $map requires at least values"
    }
    // Sort the map by viewport width (key)
    $map: map-sort($map);
    $keys: map-keys($map);
    // Minimum size
    #{$property}: map-get($map, nth($keys, 1));
    // Interpolated size through breakpoints
    @for $i from 1 through ($length - 1) {
        @media (min-width: nth($keys, $i)) {
            #{$property}: linear-interpolation((nth($keys, $i): map-get($map, nth($keys, $i)), nth($keys, ($i+1)): map-get($map, nth($keys, ($i + 1)))));
        }
    }
    // Maxmimum size
    @media (min-width:nth($keys, $length)) {
        #{$property}: map-get($map, nth($keys, $length));
    }
}

@mixin link($display: inline-block, $padding: 0, $color: $vaso, $hover: $color, $extend: "%midline-p", $width: 100%, $left: 0, $bottom: 0, $origin: left center, $pseudo: after, $bg: $fundo) {
    display: $display;
    text-decoration: none;
    padding: $padding;
    color: $color;
    @extend #{$extend};
    transition: color 300ms ease;
    position: relative;
    text-shadow: 0 1px 0 $fundo, 0 -1px 0 $fundo;
    background: $bg;
    &:#{$pseudo} {
        content: '';
        position: absolute;
        bottom: $bottom;
        left: $left;
        width: $width;
        height: 1px;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: $origin;
        transition: transform 300ms 120ms ease;
    }
    &:hover {
        color: $hover;
        &:#{$pseudo} {
            transform: scaleX(1);
        }
    }
}

@mixin link2($color: $texto, $hover: $vaso, $td: none) {
    text-decoration: $td;
    color: $color;
    transition: color 140ms ease;
    &:hover {
        color: $vaso;
    }
}

@mixin button($d: block, $w: 100%, $e: "%texto-m-mono", $c: $texto, $bgc: $principal, $p: rem(16) rem(40), $tt: uppercase, $bdrs: 0) {
    border: 0;
    border-radius: $bdrs;
    display: $d;
    width: $w;
    @extend #{$e};
    color: $c;
    background-color: $bgc;
    padding: $p;
    text-align: center;
    text-decoration: none;
    text-transform: $tt;
    transition: background-color 300ms ease, color 300ms ease;
    &:hover {
        background-color: $c;
        color: $bgc;
    }
}