%button-secondary {
    padding: rem(8) rem(16);
    background-color: $cinza;
    border: 2px solid $texto;
    @extend %texto-p-mono;
    text-transform: uppercase;
    color: $texto;
    border-radius: 0 !important;
    cursor: pointer;
    transition: background-color 300ms ease, color 300ms ease, text-decoration 0ms 300ms ease;
    &:hover {
        background-color: $texto;
        color: $fundo;
        text-decoration: none;
        transition: background-color 300ms ease, color 300ms ease, text-decoration 0ms 0ms ease;
    }
}