@import "../../_settings/colors";
@import "../../_tools/functions";
@import "../../_tools/mixins";
@import "../../_base/typography";

[id^="loop-block"] {
    grid-column: 2 / -2;
    &.dois, &.tres {
        display: grid;
        gap: 1.666666vw;
    }

    &.dois {
        grid-template-columns: minmax(0, 1fr);
        @media screen and (min-width: em(480)) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &.tres {
        // margin-right: rem(-24);
        --width: #{em(680)};
        --x-speed: 35s;
        --y-speed: 45s;
        position: relative;
        #float {
            z-index: -1;
            position: absolute;
            width: 120vw;
            height: 100%;
            top: 0;
            left: -10vw;
        }

        .circle { 
            width: var(--width);
            height: var(--width);
            border-radius: 100%;
            background-color: var(--destaque, $var-proxima-edicao);
        }

        .x {
            animation: x var(--x-speed) ease infinite alternate;
        }
        .y {
            animation: y var(--y-speed) ease infinite alternate;
        }
    }
}

@keyframes x {
  100% {
    transform: translateX(calc(120vw - var(--width)));
  }
}
@keyframes y {
  100% {
    transform: translateY(calc(150vh - var(--width)));
  }
}